
/* Search form input */
.search__form {
    margin-inline: auto;
    &__input {
        display: flex;
        width: 50vw;
        // overflow: hidden;
        border-radius: 50px;
        flex-direction: column;
        align-items: flex-start;
        background: $light-background;
        border: 1px solid transparent;
        padding: 1.4rem 2.4rem;
    }
    &__btn {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
    }
}

.form__group {
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 1.8rem;
height: auto;
position: relative;

    span {
        font-size: 1.3rem;
    }

    label {
        font-size: 1.5rem;
        font-weight: 600;
        
        span {
            color: $light-error;
            font-size: 2rem;
        }
    }
    .label__place {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2rem;
        font-weight: 500;
        color: #999;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    input {
        height: 4.6rem;
        border-radius: 0.4rem;
        padding: 0 2rem;
        border: 1px solid black;
        transition: all 0.3s ease;
        color: black;
    }

    textarea:focus,
    input:focus {
        border-color: #6750a4;
    }
    input:not(:placeholder-shown) + .label__place,
    input:focus + .label__place {
        top: 0%;
        left: 1rem;
        background-color: white;
        padding: 0 1rem;
        color: #6750a4;
    }

}