<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">

<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/resources/sass/css/app.css">
    <link rel="icon" type="image/x-icon" href="/views/public/assets/media/images/favicon/favicon.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet"
        type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Space+Mono&display=swap"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="../assets/resources/sass/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/public/assets/resources/js/jquery.js"></script>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Admin Dashboard Panel</title>
</head>

<body>
    <main>

      <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../assets/media/images/logo.png" alt="">
            </div>

            <span class="logo_name display-small fw-black">LEGOUS</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                        <i class="far fa-chart-line"></i>
                        <span class="link-name title-small">Bảng Điều Khiển</span>
                    </a></li>
                <li class="active"><a href="#">
                        <i class="far fa-store "></i>
                        <span class="link-name title-small">Sản Phẩm</span>
                    </a></li>
                <li><a href="#">
                        <i class="fal fa-clipboard-list-check"></i>
                        <span class="link-name title-small">Danh Mục</span>
                    </a></li>
                <li><a href="#">
                        <i class="fal fa-shopping-bag"></i>
                        <span class="link-name title-small">Đơn Hàng</span>
                    </a></li>
                <li><a href="#">
                        <i class="fal fa-user"></i>
                        <span class="link-name title-small">Khách Hàng</span>
                    </a></li>

            </ul>

            <ul class="logout-mode">
                <li><a href="#">
                        <i class="far fa-sign-out-alt"></i>
                        <span class="link-name title-small">Logout</span>
                    </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="far fa-moon-stars"></i>
                        <span class="link-name title-small">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

        <section class="dashboard">
            <!----======== Header DashBoard ======== -->
            <div class="top">
                <i class="fas fa-angle-left sidebar-toggle"></i>
                <div class="search-box">
                    <i class="far fa-search"></i>
                    <input type="text" placeholder="Search here...">
                </div>
                <div class="info-user">
                    <i class="far fa-comment-alt"></i>
                    <i class="fal fa-bell"></i>
                    <img src="/public/assets/media/images/users/user-2.svg" alt="">
                </div>
            </div>
            <div class="flex-column p30 g30"
            style="align-self: stretch; align-items: flex-start;">
            <div class="text">
              <h1 class="label-large-prominent" style="font-size: 24px;
              line-height: 32px;">Sản Phẩm</h1>
            </div>
            <!--DateTimelocal-->
            <div class="flex-between width-full" style="gap: 8px;
            align-items: center;">
              <div class="flex g8">
                <span class="label-large">Admin /</span><a href="#" class="label-large" style="text-decoration: none;">Sản Phẩm</a>
              </div>
              <div class="flex-center g8">
                <span><i class="fa-solid fa-calendar-days"></i></span>
                <input class="label-large-prominent" type="datetime-local" style="color: #625B71; border: none; font-size: 16px;
                ">
              </div>
            </div>
            </div>
            <!----======== End Header DashBoard ======== -->

            <!----======== Body DashBoard ======== -->
            <div class="containerAdmin">
              <div class="container-products width-full flex" style="flex-wrap: wrap; justify-content: space-between; gap: 20px">
                <!--Cart-->
                  <div class="cart trans-bounce flex-column p20" style="
                  height: 338px; border-radius: 12px;
                  border: 1px #DED8E1;
                  background:  #FFF;   
                  width: calc(100% / 3 - 30px);
                  ">
                    <div class="v-nav" style="gap: 22px; flex: 1;">
                      <div class="h-nav g12">
                        <div class="img-cart flex" style="width: 120px">
                          <img src="/public/assets/media/images/product/v944cyfrwt851.webp"
                            style="max-width: 100%; height: 100px;object-fit: cover; border-radius: 8px; flex-shrink: 0;" alt="">
                        </div>
                        <div class="text-info-cart flex-column" style="gap: 12px; max-width: 200px;">
                          <h1 class="fw-smb label-large-prominent" style="
                          font-size: 18px; word-break: break-all;display:-webkit-box;
                          -webkit-line-clamp:3;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          word-break: break-word;">Sasuke - Susano toàn chân thể </h1>
    
                          <p style="font-size: 14px;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 20px; /* 142.857% */
                          letter-spacing: 0.25px">Category: Naruto</p>
                          <span class="fw-smb label-medium-prominent" style="font-size: 16px;">1.256.900 VNĐ</span>
    
                        </div>
                        <div class="options">
                          <div class="flex-center" style="border-radius: 12px;background: #ECE6F0;">
                            <a href=""><i class="fa-solid fa-ellipsis" style="padding: 8px; color: #6750a4;"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="description flex-column g2" style="flex: 1;">
                        <div class="flex-column" style="flex-shrink: 0; min-width: 330px;">
                        <h1 class="label-large-prominent" style="font-size: 16px; ">Summary</h1>
                        <p style="font-size: 12px; word-break: break-all;display:-webkit-box;
                        -webkit-line-clamp:3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;">Nam tempor accumsan felis, mollis mollis semdapibus non.</p>
                        </div>
                      </div>
                      <!--INFO sales Qty -->
                      <div class="info-sales-qty flex-column" style="padding: 14px; gap: 10px; border-radius: 4px; background: rgba(73, 69, 79, 0.08);">
                        <div class="flex-between">
                          <div class="Sales">
                            <span class="fw-smb label-large-prominent">Sales</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <i class="fa-solid fa-arrow-up" style="color: #00C58A;"></i>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        <div class="flex-between">
                          <div class="Qty">
                            <span class="fw-smb label-large-prominent">Qty</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <div class="flex" style="width: 36px; height: 4px; background: black;border: none; border-radius: 8px;padding-right: 0px;">
                              <span class="flex" style="width: 70%; background: #00C58A; border-radius: 8px; flex-shrink: 0;
                              align-self: stretch;"></span>
                              
                            </div>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        
                      </div>
                      <!--INFO sales Qty - END -->
                      <!--Cart-END-->
                    </div>
                  </div>
                  <div class="cart trans-bounce flex-column p20" style="
                  height: 338px; border-radius: 12px;
                  border: 1px #DED8E1;
                  background:  #FFF;   
                  width: calc(100% / 3 - 30px);
        
                  ">
                    <div class="v-nav" style="gap: 22px; flex: 1;">
                      <div class="h-nav g12">
                        <div class="img-cart flex" style="width: 120px">
                          <img src="/public/assets/media/images/product/v944cyfrwt851.webp"
                            style="max-width: 100%; height: 100px;object-fit: cover; border-radius: 8px; flex-shrink: 0;" alt="">
                        </div>
                        <div class="text-info-cart flex-column" style="gap: 12px; max-width: 200px;">
                          <h1 class="fw-smb label-large-prominent" style="
                          font-size: 18px; word-break: break-all;display:-webkit-box;
                          -webkit-line-clamp:3;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          word-break: break-word;">Sasuke - Susano toàn chân thể </h1>
    
                          <p style="font-size: 14px;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 20px; /* 142.857% */
                          letter-spacing: 0.25px">Category: Naruto</p>
    
                          <span class="fw-smb label-medium-prominent" style="font-size: 16px;">1.256.900 VNĐ</span>
    
                        </div>
                        <div class="options">
                          <div class="flex-center" style="border-radius: 12px;background: #ECE6F0;">
                            <a href=""><i class="fa-solid fa-ellipsis" style="padding: 8px; color: #6750a4;"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="description flex-column g2" style="flex: 1;">
                        <div class="flex-column" style="flex-shrink: 0; min-width: 330px;">
                        <h1 class="label-large-prominent" style="font-size: 16px; ">Summary</h1>
                        <p style="font-size: 12px; word-break: break-all;display:-webkit-box;
                        -webkit-line-clamp:3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;">Nam tempor accumsan felis, mollis mollis semdapibus non.</p>
                        </div>
                      </div>
                      <!--INFO sales Qty -->
                      <div class="info-sales-qty flex-column" style="padding: 14px; gap: 10px; border-radius: 4px; background: rgba(73, 69, 79, 0.08);">
                        <div class="flex-between">
                          <div class="Sales">
                            <span class="fw-smb label-large-prominent">Sales</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <i class="fa-solid fa-arrow-up" style="color: #00C58A;"></i>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        <div class="flex-between">
                          <div class="Qty">
                            <span class="fw-smb label-large-prominent">Qty</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <div class="flex" style="width: 36px; height: 4px; background: black;border: none; border-radius: 8px;padding-right: 0px;">
                              <span class="flex" style="width: 70%; background: #00C58A; border-radius: 8px; flex-shrink: 0;
                              align-self: stretch;"></span>
                              
                            </div>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        
                      </div>
                      <!--INFO sales Qty - END -->
                      <!--Cart-END-->
                    </div>
                  </div>
                  <div class="cart trans-bounce flex-column p20" style="
                  height: 338px; border-radius: 12px;
                  border: 1px #DED8E1;
                  background:  #FFF;   
                  width: calc(100% / 3 - 30px);
        
                  ">
                    <div class="v-nav" style="gap: 22px; flex: 1;">
                      <div class="h-nav g12">
                        <div class="img-cart flex" style="width: 120px">
                          <img src="/public/assets/media/images/product/v944cyfrwt851.webp"
                            style="max-width: 100%; height: 100px;object-fit: cover; border-radius: 8px; flex-shrink: 0;" alt="">
                        </div>
                        <div class="text-info-cart flex-column" style="gap: 12px; max-width: 200px;">
                          <h1 class="fw-smb label-large-prominent" style="
                          font-size: 18px; word-break: break-all;display:-webkit-box;
                          -webkit-line-clamp:3;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          word-break: break-word;">Sasuke - Susano toàn chân thể </h1>
    
                          <p style="font-size: 14px;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 20px; /* 142.857% */
                          letter-spacing: 0.25px">Category: Naruto</p>
    
                          <span class="fw-smb label-medium-prominent" style="font-size: 16px;">1.256.900 VNĐ</span>
    
                        </div>
                        <div class="options">
                          <div class="flex-center" style="border-radius: 12px;background: #ECE6F0;">
                            <a href=""><i class="fa-solid fa-ellipsis" style="padding: 8px; color: #6750a4;"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="description flex-column g2" style="flex: 1;">
                        <div class="flex-column" style="flex-shrink: 0; min-width: 330px;">
                        <h1 class="label-large-prominent" style="font-size: 16px; ">Summary</h1>
                        <p style="font-size: 12px; word-break: break-all;display:-webkit-box;
                        -webkit-line-clamp:3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;">Nam tempor accumsan felis, mollis mollis semdapibus non.</p>
                        </div>
                      </div>
                      <!--INFO sales Qty -->
                      <div class="info-sales-qty flex-column" style="padding: 14px; gap: 10px; border-radius: 4px; background: rgba(73, 69, 79, 0.08);">
                        <div class="flex-between">
                          <div class="Sales">
                            <span class="fw-smb label-large-prominent">Sales</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <i class="fa-solid fa-arrow-up" style="color: #00C58A;"></i>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        <div class="flex-between">
                          <div class="Qty">
                            <span class="fw-smb label-large-prominent">Qty</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <div class="flex" style="width: 36px; height: 4px; background: black;border: none; border-radius: 8px;padding-right: 0px;">
                              <span class="flex" style="width: 70%; background: #00C58A; border-radius: 8px; flex-shrink: 0;
                              align-self: stretch;"></span>
                              
                            </div>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        
                      </div>
                      <!--INFO sales Qty - END -->
                      <!--Cart-END-->
                    </div>
                  </div>
                  <div class="cart trans-bounce flex-column p20" style="
                  height: 338px; border-radius: 12px;
                  border: 1px #DED8E1;
                  background:  #FFF;   
                  width: calc(100% / 3 - 30px);
        
                  ">
                    <div class="v-nav" style="gap: 22px; flex: 1;">
                      <div class="h-nav g12">
                        <div class="img-cart flex" style="width: 120px">
                          <img src="/public/assets/media/images/product/v944cyfrwt851.webp"
                            style="max-width: 100%; height: 100px;object-fit: cover; border-radius: 8px; flex-shrink: 0;" alt="">
                        </div>
                        <div class="text-info-cart flex-column" style="gap: 12px; max-width: 200px;">
                          <h1 class="fw-smb label-large-prominent" style="
                          font-size: 18px; word-break: break-all;display:-webkit-box;
                          -webkit-line-clamp:3;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          word-break: break-word;">Sasuke - Susano toàn chân thể </h1>
    
                          <p style="font-size: 14px;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 20px; /* 142.857% */
                          letter-spacing: 0.25px">Category: Naruto</p>
    
                          <span class="fw-smb label-medium-prominent" style="font-size: 16px;">1.256.900 VNĐ</span>
    
                        </div>
                        <div class="options">
                          <div class="flex-center" style="border-radius: 12px;background: #ECE6F0;">
                            <a href=""><i class="fa-solid fa-ellipsis" style="padding: 8px; color: #6750a4;"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="description flex-column g2" style="flex: 1;">
                        <div class="flex-column" style="flex-shrink: 0; min-width: 330px;">
                        <h1 class="label-large-prominent" style="font-size: 16px; ">Summary</h1>
                        <p style="font-size: 12px; word-break: break-all;display:-webkit-box;
                        -webkit-line-clamp:3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;">Nam tempor accumsan felis, mollis mollis semdapibus non.</p>
                        </div>
                      </div>
                      <!--INFO sales Qty -->
                      <div class="info-sales-qty flex-column" style="padding: 14px; gap: 10px; border-radius: 4px; background: rgba(73, 69, 79, 0.08);">
                        <div class="flex-between">
                          <div class="Sales">
                            <span class="fw-smb label-large-prominent">Sales</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <i class="fa-solid fa-arrow-up" style="color: #00C58A;"></i>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        <div class="flex-between">
                          <div class="Qty">
                            <span class="fw-smb label-large-prominent">Qty</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <div class="flex" style="width: 36px; height: 4px; background: black;border: none; border-radius: 8px;padding-right: 0px;">
                              <span class="flex" style="width: 70%; background: #00C58A; border-radius: 8px; flex-shrink: 0;
                              align-self: stretch;"></span>
                              
                            </div>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        
                      </div>
                      <!--INFO sales Qty - END -->
                      <!--Cart-END-->
                    </div>
                  </div>
                  <div class="cart trans-bounce flex-column p20" style="
                  height: 338px; border-radius: 12px;
                  border: 1px #DED8E1;
                  background:  #FFF;   
                  width: calc(100% / 3 - 30px);
        
                  ">
                    <div class="v-nav" style="gap: 22px; flex: 1;">
                      <div class="h-nav g12">
                        <div class="img-cart flex" style="width: 120px">
                          <img src="/public/assets/media/images/product/v944cyfrwt851.webp"
                            style="max-width: 100%; height: 100px;object-fit: cover; border-radius: 8px; flex-shrink: 0;" alt="">
                        </div>
                        <div class="text-info-cart flex-column" style="gap: 12px; max-width: 200px;">
                          <h1 class="fw-smb label-large-prominent" style="
                          font-size: 18px; word-break: break-all;display:-webkit-box;
                          -webkit-line-clamp:3;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          word-break: break-word;">Sasuke - Susano toàn chân thể </h1>
    
                          <p style="font-size: 14px;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 20px; /* 142.857% */
                          letter-spacing: 0.25px">Category: Naruto</p>
    
                          <span class="fw-smb label-medium-prominent" style="font-size: 16px;">1.256.900 VNĐ</span>
    
                        </div>
                        <div class="options">
                          <div class="flex-center" style="border-radius: 12px;background: #ECE6F0;">
                            <a href=""><i class="fa-solid fa-ellipsis" style="padding: 8px; color: #6750a4;"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="description flex-column g2" style="flex: 1;">
                        <div class="flex-column" style="flex-shrink: 0; min-width: 330px;">
                        <h1 class="label-large-prominent" style="font-size: 16px; ">Summary</h1>
                        <p style="font-size: 12px; word-break: break-all;display:-webkit-box;
                        -webkit-line-clamp:3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;">Nam tempor accumsan felis, mollis mollis semdapibus non.</p>
                        </div>
                      </div>
                      <!--INFO sales Qty -->
                      <div class="info-sales-qty flex-column" style="padding: 14px; gap: 10px; border-radius: 4px; background: rgba(73, 69, 79, 0.08);">
                        <div class="flex-between">
                          <div class="Sales">
                            <span class="fw-smb label-large-prominent">Sales</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <i class="fa-solid fa-arrow-up" style="color: #00C58A;"></i>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        <div class="flex-between">
                          <div class="Qty">
                            <span class="fw-smb label-large-prominent">Qty</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <div class="flex" style="width: 36px; height: 4px; background: black;border: none; border-radius: 8px;padding-right: 0px;">
                              <span class="flex" style="width: 70%; background: #00C58A; border-radius: 8px; flex-shrink: 0;
                              align-self: stretch;"></span>
                              
                            </div>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        
                      </div>
                      <!--INFO sales Qty - END -->
                      <!--Cart-END-->
                    </div>
                  </div>
                  <div class="cart trans-bounce flex-column p20" style="
                  height: 338px; border-radius: 12px;
                  border: 1px #DED8E1;
                  background:  #FFF;   
                  width: calc(100% / 3 - 30px);
        
                  ">
                    <div class="v-nav" style="gap: 22px; flex: 1;">
                      <div class="h-nav g12">
                        <div class="img-cart flex" style="width: 120px">
                          <img src="/public/assets/media/images/product/v944cyfrwt851.webp"
                            style="max-width: 100%; height: 100px;object-fit: cover; border-radius: 8px; flex-shrink: 0;" alt="">
                        </div>
                        <div class="text-info-cart flex-column" style="gap: 12px; max-width: 200px;">
                          <h1 class="fw-smb label-large-prominent" style="
                          font-size: 18px; word-break: break-all;display:-webkit-box;
                          -webkit-line-clamp:3;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          word-break: break-word;">Sasuke - Susano toàn chân thể </h1>
    
                          <p style="font-size: 14px;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 20px; /* 142.857% */
                          letter-spacing: 0.25px">Category: Naruto</p>
    
                          <span class="fw-smb label-medium-prominent" style="font-size: 16px;">1.256.900 VNĐ</span>
    
                        </div>
                        <div class="options">
                          <div class="flex-center" style="border-radius: 12px;background: #ECE6F0;">
                            <a href=""><i class="fa-solid fa-ellipsis" style="padding: 8px; color: #6750a4;"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="description flex-column g2" style="flex: 1;">
                        <div class="flex-column" style="flex-shrink: 0; min-width: 330px;">
                        <h1 class="label-large-prominent" style="font-size: 16px; ">Summary</h1>
                        <p style="font-size: 12px; word-break: break-all;display:-webkit-box;
                        -webkit-line-clamp:3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;">Nam tempor accumsan felis, mollis mollis semdapibus non.</p>
                        </div>
                      </div>
                      <!--INFO sales Qty -->
                      <div class="info-sales-qty flex-column" style="padding: 14px; gap: 10px; border-radius: 4px; background: rgba(73, 69, 79, 0.08);">
                        <div class="flex-between">
                          <div class="Sales">
                            <span class="fw-smb label-large-prominent">Sales</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <i class="fa-solid fa-arrow-up" style="color: #00C58A;"></i>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        <div class="flex-between">
                          <div class="Qty">
                            <span class="fw-smb label-large-prominent">Qty</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <div class="flex" style="width: 36px; height: 4px; background: black;border: none; border-radius: 8px;padding-right: 0px;">
                              <span class="flex" style="width: 70%; background: #00C58A; border-radius: 8px; flex-shrink: 0;
                              align-self: stretch;"></span>
                              
                            </div>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        
                      </div>
                      <!--INFO sales Qty - END -->
                      <!--Cart-END-->
                    </div>
                  </div>
                  <div class="cart trans-bounce flex-column p20" style="
                  height: 338px; border-radius: 12px;
                  border: 1px #DED8E1;
                  background:  #FFF;   
                  width: calc(100% / 3 - 30px);
        
                  ">
                    <div class="v-nav" style="gap: 22px; flex: 1;">
                      <div class="h-nav g12">
                        <div class="img-cart flex" style="width: 120px">
                          <img src="/public/assets/media/images/product/v944cyfrwt851.webp"
                            style="max-width: 100%; height: 100px;object-fit: cover; border-radius: 8px; flex-shrink: 0;" alt="">
                        </div>
                        <div class="text-info-cart flex-column" style="gap: 12px; max-width: 200px;">
                          <h1 class="fw-smb label-large-prominent" style="
                          font-size: 18px; word-break: break-all;display:-webkit-box;
                          -webkit-line-clamp:3;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          word-break: break-word;">Sasuke - Susano toàn chân thể </h1>
    
                          <p style="font-size: 14px;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 20px; /* 142.857% */
                          letter-spacing: 0.25px">Category: Naruto</p>
    
                          <span class="fw-smb label-medium-prominent" style="font-size: 16px;">1.256.900 VNĐ</span>
    
                        </div>
                        <div class="options">
                          <div class="flex-center" style="border-radius: 12px;background: #ECE6F0;">
                            <a href=""><i class="fa-solid fa-ellipsis" style="padding: 8px; color: #6750a4;"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="description flex-column g2" style="flex: 1;">
                        <div class="flex-column" style="flex-shrink: 0; min-width: 330px;">
                        <h1 class="label-large-prominent" style="font-size: 16px; ">Summary</h1>
                        <p style="font-size: 12px; word-break: break-all;display:-webkit-box;
                        -webkit-line-clamp:3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;">Nam tempor accumsan felis, mollis mollis semdapibus non.</p>
                        </div>
                      </div>
                      <!--INFO sales Qty -->
                      <div class="info-sales-qty flex-column" style="padding: 14px; gap: 10px; border-radius: 4px; background: rgba(73, 69, 79, 0.08);">
                        <div class="flex-between">
                          <div class="Sales">
                            <span class="fw-smb label-large-prominent">Sales</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <i class="fa-solid fa-arrow-up" style="color: #00C58A;"></i>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        <div class="flex-between">
                          <div class="Qty">
                            <span class="fw-smb label-large-prominent">Qty</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <div class="flex" style="width: 36px; height: 4px; background: black;border: none; border-radius: 8px;padding-right: 0px;">
                              <span class="flex" style="width: 70%; background: #00C58A; border-radius: 8px; flex-shrink: 0;
                              align-self: stretch;"></span>
                              
                            </div>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        
                      </div>
                      <!--INFO sales Qty - END -->
                      <!--Cart-END-->
                    </div>
                  </div>
                  <div class="cart trans-bounce flex-column p20" style="
                  height: 338px; border-radius: 12px;
                  border: 1px #DED8E1;
                  background:  #FFF;   
                  width: calc(100% / 3 - 30px);
        
                  ">
                    <div class="v-nav" style="gap: 22px; flex: 1;">
                      <div class="h-nav g12">
                        <div class="img-cart flex" style="width: 120px">
                          <img src="/public/assets/media/images/product/v944cyfrwt851.webp"
                            style="max-width: 100%; height: 100px;object-fit: cover; border-radius: 8px; flex-shrink: 0;" alt="">
                        </div>
                        <div class="text-info-cart flex-column" style="gap: 12px; max-width: 200px;">
                          <h1 class="fw-smb label-large-prominent" style="
                          font-size: 18px; word-break: break-all;display:-webkit-box;
                          -webkit-line-clamp:3;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          word-break: break-word;">Sasuke - Susano toàn chân thể </h1>
    
                          <p style="font-size: 14px;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 20px; /* 142.857% */
                          letter-spacing: 0.25px">Category: Naruto</p>
    
                          <span class="fw-smb label-medium-prominent" style="font-size: 16px;">1.256.900 VNĐ</span>
    
                        </div>
                        <div class="options">
                          <div class="flex-center" style="border-radius: 12px;background: #ECE6F0;">
                            <a href=""><i class="fa-solid fa-ellipsis" style="padding: 8px; color: #6750a4;"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="description flex-column g2" style="flex: 1;">
                        <div class="flex-column" style="flex-shrink: 0; min-width: 330px;">
                        <h1 class="label-large-prominent" style="font-size: 16px; ">Summary</h1>
                        <p style="font-size: 12px; word-break: break-all;display:-webkit-box;
                        -webkit-line-clamp:3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;">Nam tempor accumsan felis, mollis mollis semdapibus non.</p>
                        </div>
                      </div>
                      <!--INFO sales Qty -->
                      <div class="info-sales-qty flex-column" style="padding: 14px; gap: 10px; border-radius: 4px; background: rgba(73, 69, 79, 0.08);">
                        <div class="flex-between">
                          <div class="Sales">
                            <span class="fw-smb label-large-prominent">Sales</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <i class="fa-solid fa-arrow-up" style="color: #00C58A;"></i>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        <div class="flex-between">
                          <div class="Qty">
                            <span class="fw-smb label-large-prominent">Qty</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <div class="flex" style="width: 36px; height: 4px; background: black;border: none; border-radius: 8px;padding-right: 0px;">
                              <span class="flex" style="width: 70%; background: #00C58A; border-radius: 8px; flex-shrink: 0;
                              align-self: stretch;"></span>
                              
                            </div>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        
                      </div>
                      <!--INFO sales Qty - END -->
                      <!--Cart-END-->
                    </div>
                  </div>
                  <div class="cart trans-bounce flex-column p20" style="
                  height: 338px; border-radius: 12px;
                  border: 1px #DED8E1;
                  background:  #FFF;   
                  width: calc(100% / 3 - 30px);
        
                  ">
                    <div class="v-nav" style="gap: 22px; flex: 1;">
                      <div class="h-nav g12">
                        <div class="img-cart flex" style="width: 120px">
                          <img src="/public/assets/media/images/product/v944cyfrwt851.webp"
                            style="max-width: 100%; height: 100px;object-fit: cover; border-radius: 8px; flex-shrink: 0;" alt="">
                        </div>
                        <div class="text-info-cart flex-column" style="gap: 12px; max-width: 200px;">
                          <h1 class="fw-smb label-large-prominent" style="
                          font-size: 18px; word-break: break-all;display:-webkit-box;
                          -webkit-line-clamp:3;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          word-break: break-word;">Sasuke - Susano toàn chân thể </h1>
    
                          <p style="font-size: 14px;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 20px; /* 142.857% */
                          letter-spacing: 0.25px">Category: Naruto</p>
    
                          <span class="fw-smb label-medium-prominent" style="font-size: 16px;">1.256.900 VNĐ</span>
    
                        </div>
                        <div class="options">
                          <div class="flex-center" style="border-radius: 12px;background: #ECE6F0;">
                            <a href=""><i class="fa-solid fa-ellipsis" style="padding: 8px; color: #6750a4;"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="description flex-column g2" style="flex: 1;">
                        <div class="flex-column" style="flex-shrink: 0; min-width: 330px;">
                        <h1 class="label-large-prominent" style="font-size: 16px; ">Summary</h1>
                        <p style="font-size: 12px; word-break: break-all;display:-webkit-box;
                        -webkit-line-clamp:3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;">Nam tempor accumsan felis, mollis mollis semdapibus non.</p>
                        </div>
                      </div>
                      <!--INFO sales Qty -->
                      <div class="info-sales-qty flex-column" style="padding: 14px; gap: 10px; border-radius: 4px; background: rgba(73, 69, 79, 0.08);">
                        <div class="flex-between">
                          <div class="Sales">
                            <span class="fw-smb label-large-prominent">Sales</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <i class="fa-solid fa-arrow-up" style="color: #00C58A;"></i>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        <div class="flex-between">
                          <div class="Qty">
                            <span class="fw-smb label-large-prominent">Qty</span>
                          </div>
                          <div class="index flex-center" style="gap: 4px;">
                            <div class="flex" style="width: 36px; height: 4px; background: black;border: none; border-radius: 8px;padding-right: 0px;">
                              <span class="flex" style="width: 70%; background: #00C58A; border-radius: 8px; flex-shrink: 0;
                              align-self: stretch;"></span>
                              
                            </div>
                            <span class="fw-smb label-large-prominent" style="color: #00C58A;">1209</span>
                          </div>
                        </div>
                        
                      </div>
                      <!--INFO sales Qty - END -->
                      <!--Cart-END-->
                    </div>
                  </div>
                <div class="flex mt30">
                  <div class="options-number flex g16" >
                    <button class="btn primary-btn">1</button>
                    <button class="btn">2</button>
                    <button class="btn">3</button>
                    <button class="btn">4</button>
                    <button class="btn">5</button>
                    <a href="" class="flex-center g8"><i class="fa-solid fa-arrow-right"></i><span class="title-medium" style="text-align: center;">Next</span></a>
                  </div>
                </div>
    
               
                  
               
              </div>
            </div>

            <!----======== End Body DashBoard ======== -->

        </section>
    </main>

    <script src="/public/assets/resources/js/admin.js"></script>
    <!----======== Bootstrap ======== -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>
