<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/assets/resources/sass/css/app.css">
        <link rel="icon" type="image/x-icon" href="/views/public/assets/media/images/favicon/favicon.svg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Space+Mono&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="../assets/resources/sass/css/owl.carousel.min.css">
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
        />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-1.11.0.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
        ></script>
        <script src="/views/public/assets/resources/js/jquery.js"></script>
    <title>Admin Dashboard Panel</title>
</head>

<body>
    <main>

        <nav>
            <div class="logo-name">
                <div class="logo-image">
                    <img src="../assets/media/images/logo.png" alt="">
                </div>

                <span class="logo_name display-small fw-black">LEGOUS</span>
            </div>

            <div class="menu-items">
                <ul class="nav-links">
                    <li class="active"><a href="#">
                            <i class="far fa-chart-line"></i>
                            <span class="link-name title-small">Bảng Điều Khiển</span>
                        </a></li>
                    <li><a href="#">
                            <i class="far fa-store"></i>
                            <span class="link-name title-small">Sản Phẩm</span>
                        </a></li>
                    <li><a href="#">
                            <i class="fal fa-clipboard-list-check"></i>
                            <span class="link-name title-small">Danh Mục</span>
                        </a></li>
                    <li><a href="#">
                            <i class="fal fa-shopping-bag"></i>
                            <span class="link-name title-small">Đơn Hàng</span>
                        </a></li>
                    <li><a href="#">
                            <i class="fal fa-user"></i>
                            <span class="link-name title-small">Khách Hàng</span>
                        </a></li>

                </ul>

                <ul class="logout-mode">
                    <li><a href="#">
                            <i class="far fa-sign-out-alt"></i>
                            <span class="link-name title-small">Logout</span>
                        </a></li>

                    <li class="mode">
                        <a href="#">
                            <i class="far fa-moon-stars"></i>
                            <span class="link-name title-small">Dark Mode</span>
                        </a>

                        <div class="mode-toggle">
                            <span class="switch"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="dashboard">
            <!----======== Header DashBoard ======== -->
            <div class="top">
                <i class="fas fa-angle-left sidebar-toggle"></i>
                <div class="search-box">
                    <i class="far fa-search"></i>
                    <input type="text" placeholder="Tìm Kiếm Tại Đây...">
                </div>
                <div class="info-user">
                    <i class="far fa-comment-alt"></i>
                    <i class="fal fa-bell"></i>
                    <img src="../assets/media/images/users/profile.jpg" alt="">
                </div>
            </div>
            <!----======== End Header DashBoard ======== -->

            <!----======== Body DashBoard ======== -->
            <div class="containerAdmin">
                <div class="localDashboard">
                    <div class="col-12 d-flex mt-5 pt-5">
                        <div class="col-6">
                            <div class="col-12">
                                <h2 class="headline-small h2_dashboard">Bảng Điều Khiển</h2>
                            </div>
                            <div class="col-12">
                                <a href="#">Admin</a> / <a href="#">Bảng Điều Khiển</a>
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <section><i class="fal fa-calendar-alt"></i> Aug 21, 2023 - Aug 28, 2023</section>
                        </div>
                    </div>
                </div>

                
                <div class="owl-carousel owl-theme">
                        <div class="item slider_contain">
                            <div class="slider_items p-4">
                                <div class="col-12 d-flex">
                                    <div class="col-6">
                                        <h5>Tổng doanh thu</h5>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end align-content-center"><i
                                            class="far fa-ellipsis-v"></i></div>
                                </div>
                                <div class="col-12 d-flex justify-content-between align-items-center my-3">
                                    <div class="d-flex align-items-center">
                                        <button class="buttonWallet"><i class="far fa-wallet"
                                                style="color: #ffffff;"></i></button>
                                        <p class="dashboard-moneyEarn"><span>12,250,980 VNĐ</span></p>
                                    </div>
                                    <div class="slider_items_stonks d-flex align-items-center">
                                        <i class="far fa-external-link-alt"></i>
                                        <p>34.7%</p>
                                    </div>
                                </div>
                                <div class="col-12 text-end">
                                    <p>So với tháng 10 - 2023</p>
                                </div>
                            </div>
                        </div>
                        <div class="item slider_contain slider_contain-2">
                            <div class="slider_items p-4">
                                <div class="col-12 d-flex">
                                    <div class="col-6">
                                        <h5>Tổng doanh thu</h5>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end align-content-center"><i
                                            class="far fa-ellipsis-v"></i></div>
                                </div>
                                <div class="col-12 d-flex justify-content-between align-items-center my-3">
                                    <div class="d-flex align-items-center">
                                        <button class="buttonWallet"><i class="far fa-wallet"
                                                style="color: #ffffff;"></i></button>
                                        <p class="dashboard-moneyEarn"><span>12,250,980 VNĐ</span></p>
                                    </div>
                                    <div class="slider_items_stonks d-flex align-items-center">
                                        <i class="far fa-external-link-alt"></i>
                                        <p>34.7%</p>
                                    </div>
                                </div>
                                <div class="col-12 text-end">
                                    <p>So với tháng 10 - 2023</p>
                                </div>
                            </div>
                        </div>
                        <div class="item slider_contain slider_contain-3">
                            <div class="slider_items p-4">
                                <div class="col-12 d-flex">
                                    <div class="col-6">
                                        <h5>Tổng doanh thu</h5>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end align-content-center"><i
                                            class="far fa-ellipsis-v"></i></div>
                                </div>
                                <div class="col-12 d-flex justify-content-between align-items-center my-3">
                                    <div class="d-flex align-items-center">
                                        <button class="buttonWallet"><i class="far fa-wallet"
                                                style="color: #ffffff;"></i></button>
                                        <p class="dashboard-moneyEarn"><span>12,250,980 VNĐ</span></p>
                                    </div>
                                    <div class="slider_items_stonks d-flex align-items-center">
                                        <i class="far fa-external-link-alt"></i>
                                        <p>34.7%</p>
                                    </div>
                                </div>
                                <div class="col-12 text-end">
                                    <p>So với tháng 10 - 2023</p>
                                </div>
                            </div>
                        </div>
                        <div class="item slider_contain slider_contain-4">
                            <div class="slider_items p-4">
                                <div class="col-12 d-flex">
                                    <div class="col-6">
                                        <h5>Tổng doanh thu</h5>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end align-content-center"><i
                                            class="far fa-ellipsis-v"></i></div>
                                </div>
                                <div class="col-12 d-flex justify-content-between align-items-center my-3">
                                    <div class="d-flex align-items-center">
                                        <button class="buttonWallet"><i class="far fa-wallet"
                                                style="color: #ffffff;"></i></button>
                                        <p class="dashboard-moneyEarn"><span>12,250,980 VNĐ</span></p>
                                    </div>
                                    <div class="slider_items_stonks d-flex align-items-center">
                                        <i class="far fa-external-link-alt"></i>
                                        <p>34.7%</p>
                                    </div>
                                </div>
                                <div class="col-12 text-end">
                                    <p>So với tháng 10 - 2023</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <!----======== End Body DashBoard ======== -->

        </section>
        
    </main>
<!-- Swiper JS -->
<script src="../assets/resources/js/owl.carousel.min.js"></script>

    <script src="../assets/resources/js/admin.js"></script>
    <!----======== Bootstrap ======== -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
          <!-- Initialize Swiper -->
  
        <script>
            $('.owl-carousel').owlCarousel({
    margin:10,
    loop:true,  
    nav:true,
    
})
        </script>
</body>
<!-- responsive:{
    0:{
        items:1
    },
    600:{
        items:3
    },
    1000:{
        items:2
    }
} -->
</html>
