<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Products</title>
    <link rel="stylesheet" href="/public/assets/resources/sass/css/app.css">
    <link rel="icon" type="image/x-icon" href="/public/assets/media/images/favicon/favicon.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Space+Mono&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
        type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="/views/public/assets/resources/js/jquery.js"></script>
</head>

<body>
  <div class="container-full">
    <div class="flex">
      <!--Nav-LEFT -->
      <nav class="sidebar v-nav por" style="height: 100vh;border-right: 1px solid var(--m-3-sys-light-surface-dim, #DED8E1);
      background: var(--m-3-white, #FFF); width: 250px; padding: 0px 20px;
      align-self: stretch;
      ">
        <!--LOGO-->
        <div class="logo flex" style="padding: 38px 10px; align-items: flex-start; gap: 10px;
        ">
          <img src="/public/assets/media/images/logo.svg" alt="">
        </div>

        <!--Menu-->
        <a href="#">
          <div class="flex g12 box-shadow1 active"
            style="align-self: stretch; border-radius: 8px; background-color: #6750a4;">
            <div class="flex g12" style="align-items: flex-start; align-self: stretch; padding: 16px 24px;">
              <div class="flex-center" style="width: 24px; height: 24px; flex-shrink: 0; color: #FFF;">
                <i class="fa-solid fa-table-columns"></i>
              </div>
              <p class="fw-normal label-large-prominent" style="font-size: 18px;line-height: 20px;letter-spacing: 0.1px; color: #FFF;">Dashboard</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="flex g12 " style="align-self: stretch; border-radius: 8px;">
            <div class="flex g12" style="align-items: flex-start; align-self: stretch; padding: 16px 24px;">
              <div class="flex-center" style="width: 24px; height: 24px; flex-shrink: 0; color: #625B71;">
                <i class="fa-solid fa-store"></i>
              </div>
              <p class="fw-normal label-large-prominent" style="font-size: 18px;line-height: 20px;letter-spacing: 0.1px; color: #625B71;">Product</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="flex g12 " style="align-self: stretch; border-radius: 8px;">
            <div class="flex g12" style="align-items: flex-start; align-self: stretch; padding: 16px 24px;">
              <div class="flex-center" style="width: 24px; height: 24px; flex-shrink: 0; color: #625B71;">
                <i class="fa-solid fa-list-check"></i>
              </div>
              <p class="fw-normal label-large-prominent" style="font-size: 18px;line-height: 20px;letter-spacing: 0.1px; color: #625B71;">Category</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="flex g12 " style="align-self: stretch; border-radius: 8px;">
            <div class="flex g12" style="align-items: flex-start; align-self: stretch; padding: 16px 24px;">
              <div class="flex-center" style="width: 24px; height: 24px; flex-shrink: 0; color: #625B71;">
                <i class="fa-solid fa-bag-shopping"></i>
              </div>
              <p class="fw-normal label-large-prominent" style="font-size: 18px;line-height: 20px;letter-spacing: 0.1px; color: #625B71;">Orders</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="flex g12 " style="align-self: stretch; border-radius: 8px;">
            <div class="flex g12" style="align-items: flex-start; align-self: stretch; padding: 16px 24px;">
              <div class="flex-center" style="width: 24px; height: 24px; flex-shrink: 0; color: #625B71;">
                <i class="fa-regular fa-user"></i>
              </div>
              <p class="fw-normal label-large-prominent" style="font-size: 18px;line-height: 20px;letter-spacing: 0.1px; color: #625B71;">Client</p>
            </div>
          </div>
        </a>

        <!---Menu-END -->

      </nav>
      <!--Nav-LEFT-END -->
      <!--Nav-RIGHT -->
      <section class="v-nav" style="flex: 1;">
        <div class="flex-between p30 ">
          <!-- Hambuger --->
          <div class="flex-center" style="gap: 10px; width: 48px; height: 48px;">
            <button class="btn elevated-btn" style="padding: 8px; border-radius: 10rem;">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M15.7049 7.41L14.2949 6L8.29492 12L14.2949 18L15.7049 16.59L11.1249 12L15.7049 7.41Z"
                  fill="black" />
              </svg>
            </button>
          </div>
          <!-- Hambuger End --->

          <!-- Search-Box --->
          <div class="header__search-box">
            <form action="" class="form search__form">
              <div class="form__group flex-center por">
                <button class="icon-btn search__form__btn"><i class="far fa-search"
                    style="align-items: flex-start;"></i></button>
                <input type="text" class="form__input search__form__input" placeholder="Nhập tên sản phẩm">
              </div>
            </form>
          </div>
          <!-- Search-Box End --->

          <div class="flex-center g60">
            <div class="" style="width: 20px;
               height: 20.06px;">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                  <path
                    d="M7.5 17.97H7C3 17.97 1 16.97 1 11.97V6.96997C1 2.96997 3 0.969971 7 0.969971H15C19 0.969971 21 2.96997 21 6.96997V11.97C21 15.97 19 17.97 15 17.97H14.5C14.19 17.97 13.89 18.12 13.7 18.37L12.2 20.37C11.54 21.25 10.46 21.25 9.8 20.37L8.3 18.37C8.14 18.15 7.77 17.97 7.5 17.97Z"
                    stroke="#625B71" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M14.9961 9.96991H15.005" stroke="#625B71" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M10.9961 9.96991H11.0051" stroke="#625B71" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M6.99414 9.96991H7.00315" stroke="#625B71" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
            <div class="" style="width: 20px;
            height: 23.755px;">
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="26" viewBox="0 0 22 26" fill="none">
                  <path
                    d="M14.7116 22.6505C13.7218 24.1352 12.4845 24.8776 10.9998 24.8776C9.51511 24.8776 8.27786 24.1352 7.28806 22.6505M18.5488 20.4235H3.45082C2.09727 20.4235 1 19.3262 1 17.9726C1 17.5284 1.12072 17.0926 1.34926 16.7117C2.80653 14.2829 3.57631 11.5038 3.57631 8.67135V7.06115C3.57631 3.78124 6.2352 1.12235 9.51511 1.12235H12.4845C15.7644 1.12235 18.4233 3.78124 18.4233 7.06115V8.67135C18.4233 11.5038 19.1931 14.2829 20.6504 16.7117C21.3468 17.8724 20.9704 19.3778 19.8097 20.0742C19.4289 20.3027 18.993 20.4235 18.5488 20.4235Z"
                    stroke="#625B71" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
            <div class="flex-center" style="width: 45px;
            height: 45px; border-radius: 10rem; object-fit: contain;">
              <a href="#">
                <img src="/public/assets/media/images/users/user-2.svg"
                  style="object-fit: cover; max-width: 100%; height: auto; border-radius: 10rem;" alt="">
              </a>
            </div>
          </div>

        </div>
        <div class="flex-column p30 g30"
          style="align-self: stretch; align-items: flex-start; background-color: #f7f7f7;">
          <div class="text">
            <h1 class="label-large-prominent" style="font-size: 24px;
            line-height: 32px;">Sản Phẩm</h1>
          </div>
          <!--DateTimelocal-->
          <div class="flex-between width-full" style="gap: 8px;
          align-items: center;">
            <div class="flex g8">
              <span>Admin</span>/<a href="#">Product</a>
            </div>
            <div class="flex-center g8">
              <span><i class="fa-solid fa-calendar-days"></i></span>
              <input class="label-large-prominent" type="datetime-local" style="color: #625B71; border: none; font-size: 16px;
              ">
            </div>
          </div>
          <!--DateTimelocal-END-->

          <!--Products-->
              <table class="content-table width-full">
                <thead>
                  <tr>
                    <th style="text-align: start;">
                        <button>
                            <div class="" style="width: 18px; height: 18px; border-radius: 2px;
                              border: 2px solid #49454F;">
                            </div>
                        </button>
                    </th>
                    <th>Order ID</th>
                    <th>Tên Khách Hàng</th>
                    <th>Phương Thức Thanh Toán</th>
                    <th>Ngày Đặt</th>
                    <th>Trạng Thái</th>
                    <th>Tổng giá</th>
                    <th>Khác</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Thêm các hàng dữ liệu vào đây -->
                  <tr>
                    <td style="text-align: start;">
                        <button>
                            <div class="" style="width: 18px; height: 18px; border-radius: 2px;
                              border: 2px solid #49454F;">
                            </div>
                        </button>
                    </td>
                    <td>#123891</td>
                    <td>David Johnson</td>
                    <td>Paypal</td>
                    <td>Feb 24, 2023</td>
                    <td style="color: #00B3FF;">Đã Giao Hàng</td>
                    <td>12.289.090 đ</td>
                    <td><a href="">Xem chi tiết</a></td>    
                  </tr>  
                  <tr>
                    <td style="text-align: start;">
                        <button>
                            <div class="" style="width: 18px; height: 18px; border-radius: 2px;
                              border: 2px solid #49454F;">
                            </div>
                        </button>
                    </td>
                    <td>#123891</td>
                    <td>David Johnson</td>
                    <td>Paypal</td>
                    <td>Feb 24, 2023</td>
                    <td style="color: #00C58A;">Đang Chờ</td>
                    <td>12.289.090 đ</td>
                    <td><a href="">Xem chi tiết</a></td>    
                  </tr>  
                  <tr>
                    <td style="text-align: start;">
                        <button>
                            <div class="" style="width: 18px; height: 18px; border-radius: 2px;
                              border: 2px solid #49454F;">
                            </div>
                        </button>
                    </td>
                    <td>#123891</td>
                    <td>David Johnson</td>
                    <td>Paypal</td>
                    <td>Feb 24, 2023</td>
                    <td style="color: #B3261E;">Đã Hủy</td>
                    <td>12.289.090 đ</td>
                    <td><a href="">Xem chi tiết</a></td>    
                  </tr>  
                  <tr>
                    <td style="text-align: start;">
                        <button>
                            <div class="" style="width: 18px; height: 18px; border-radius: 2px;
                              border: 2px solid #49454F;">
                            </div>
                        </button>
                    </td>
                    <td>#123891</td>
                    <td>David Johnson</td>
                    <td>Paypal</td>
                    <td>Feb 24, 2023</td>
                    <td style="color:#F90;">Trả Hàng</td>
                    <td>12.289.090 đ</td>
                    <td><a href="">Xem chi tiết</a></td>    
                  </tr>  
                
                </tbody>
              </table>

        </div>
        <!--Products-END-->
      </section>
    </div>
    <!--NAV-RIGHT-END-->
  </div>
  </div>
</body>

</html>