<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">

<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/resources/sass/css/app.css">
    <link rel="icon" type="image/x-icon" href="/views/public/assets/media/images/favicon/favicon.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet"
        type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Space+Mono&display=swap"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="../assets/resources/sass/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/public/assets/resources/js/jquery.js"></script>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Admin Client</title>
</head>

<body>
  <main>

    <nav>
      <div class="logo-name">
          <div class="logo-image">
              <img src="../assets/media/images/logo.png" alt="">
          </div>

          <span class="logo_name display-small fw-black">LEGOUS</span>
      </div>

      <div class="menu-items">
          <ul class="nav-links">
              <li><a href="#">
                      <i class="far fa-chart-line"></i>
                      <span class="link-name title-small">Bảng Điều Khiển</span>
                  </a></li>
              <li><a href="#">
                      <i class="far fa-store"></i>
                      <span class="link-name title-small">Sản Phẩm</span>
                  </a></li>
              <li class="active"><a href="#">
                      <i class="fal fa-clipboard-list-check"></i>
                      <span class="link-name title-small">Danh Mục</span>
                  </a></li>
              <li><a href="#">
                      <i class="fal fa-shopping-bag"></i>
                      <span class="link-name title-small">Đơn Hàng</span>
                  </a></li>
              <li><a href="#">
                      <i class="fal fa-user"></i>
                      <span class="link-name title-small">Khách Hàng</span>
                  </a></li>

          </ul>

          <ul class="logout-mode">
              <li><a href="#">
                      <i class="far fa-sign-out-alt"></i>
                      <span class="link-name title-small">Logout</span>
                  </a></li>

              <li class="mode">
                  <a href="#">
                      <i class="far fa-moon-stars"></i>
                      <span class="link-name title-small">Dark Mode</span>
                  </a>

                  <div class="mode-toggle">
                      <span class="switch"></span>
                  </div>
              </li>
          </ul>
      </div>
  </nav>

    <section class="dashboard">
      <!----======== Header DashBoard ======== -->
      <div class="top">
        <i class="fas fa-angle-left sidebar-toggle"></i>
        <div class="search-box">
          <i class="far fa-search"></i>
          <input type="text" placeholder="Search here...">
        </div>
        <div class="info-user">
          <i class="far fa-comment-alt"></i>
          <i class="fal fa-bell"></i>
          <img src="/public/assets/media/images/users/user-1.svg" alt="">
        </div>
      </div>
      <div class="flex-column p30 g30" style="align-self: stretch; align-items: flex-start;">
        <div class="text">
          <h1 class="label-large-prominent" style="font-size: 24px;
              line-height: 32px;">Danh Mục</h1>
        </div>
        <!--DateTimelocal-->
        <div class="flex-between width-full" style="gap: 8px;
            align-items: center;">
          <div class="flex g8">
            <span class="label-large">Admin /</span><a href="#" class="label-large" style="text-decoration: none;">Danh Mục</a>
          </div>
          <div class="flex-center g8">
            <span><i class="fa-solid fa-calendar-days"></i></span>
            <input class="label-large-prominent" type="datetime-local" style="color: #625B71; border: none; font-size: 16px;
                ">
          </div>
        </div>
      </div>
      <!----======== End Header DashBoard ======== -->

      <!----======== Body DashBoard ======== -->
      <div class="containerAdmin">
        <div class="flex-column width-full">
          <div class="content-filter flex-column">
            <button id="filter" class="flex-center g8" style="padding: 10px 16px;
                  border: 1px solid #79747E; border-radius: 100px;
                  margin-left: auto;">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <path d="M7.5 13.5H10.5V12H7.5V13.5ZM2.25 4.5V6H15.75V4.5H2.25ZM4.5 9.75H13.5V8.25H4.5V9.75Z"
                  fill="#6750A4" />
                <span class="label-medium fw-smb" style="color: #6750a4;">Lọc</span>
              </svg>
            </button>
            <ul class="dropdown-menu"
              style="margin-left: auto; align-items: flex-start; list-style: none;">
              <li><a href="">Tên Sản phẩm</a></li>
              <li><a href="">Giá</a></li>
              <li><a href="">Danh Mục</a></li>
              <li><a href="">Ngày - Tháng</a></li>
            </ul>
          </div>
        </div>
        <table class="content-table width-full">
          <thead>
            <tr>
              <th style="text-align: start;">
                <input type="checkbox" style="width: 18px; height: 18px;">
                </input>
              </th>
              <th>ID</th>
              <th>Tên Danh Mục</th>
              <th>Giá</th>
              <th>Giá khuyến mãi</th>
              <th>Số lượng</th>
              <th>Đã bán</th>
              <th>Khác</th>
            </tr>
          </thead>
          <tbody>
            <!-- Thêm các hàng dữ liệu vào đây -->
            <tr>
              <td style="text-align: start;">
                <input type="checkbox" style="width: 18px; height: 18px;">
                </input>
              </td>
              <td>#123891</td>
              <td>Naruto</td>
              <td>100.000.000 VNĐ</td>
              <td>90.000.000 VNĐ</td>
              <td>20</td>
              <td>2</td>
              <td><a href="">Xem chi tiết</a></td>
            </tr>
            <tr>
              <td style="text-align: start;">
                <input type="checkbox" style="width: 18px; height: 18px;">
                </input>
              </td>
              <td>#123891</td>
              <td>Naruto</td>
              <td>100.000.000 VNĐ</td>
              <td>90.000.000 VNĐ</td>
              <td>20</td>
              <td>2</td>
              <td><a href="">Xem chi tiết</a></td>
            </tr>
            <tr>
              <td style="text-align: start;">
                <input type="checkbox" style="width: 18px; height: 18px;">
                </input>
              </td>
              <td>#123891</td>
              <td>Naruto</td>
              <td>100.000.000 VNĐ</td>
              <td>90.000.000 VNĐ</td>
              <td>20</td>
              <td>2</td>
              <td><a href="">Xem chi tiết</a></td>
            </tr>
            <tr>
              <td style="text-align: start;">
                <input type="checkbox" style="width: 18px; height: 18px;">
                </input>
              </td>
              <td>#123891</td>
              <td>Naruto</td>
              <td>100.000.000 VNĐ</td>
              <td>90.000.000 VNĐ</td>
              <td>20</td>
              <td>2</td>
              <td><a href="">Xem chi tiết</a></td>
            </tr>
            <tr>
              <td style="text-align: start;">
                <input type="checkbox" style="width: 18px; height: 18px;">
                </input>
              </td>
              <td>#123891</td>
              <td>Naruto</td>
              <td>100.000.000 VNĐ</td>
              <td>90.000.000 VNĐ</td>
              <td>20</td>
              <td>2</td>
              <td><a href="">Xem chi tiết</a></td>
            </tr>
           

          </tbody>
        </table>

      </div>
      </div>

      <!----======== End Body DashBoard ======== -->

    </section>
  </main>

  <script src="/public/assets/resources/js/admin.js"></script>
  <!----======== Bootstrap ======== -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>