<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEGOUS - HOME PAGE</title>
  <link rel="stylesheet" href="/public/assets/resources/sass/css/app.css">
    <link rel="icon" type="image/x-icon" href="/views/public/assets/media/images/favicon/favicon.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Space+Mono&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
        type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="/public/assets/resources/js/jquery.js"></script>
</head>
<body>
    <div class="container-full por">
        <!-- header start -->
        <header class="header flex-full width-full flex-center pof">
            <div class="header__inner flex-full flex-between por v-center">
                <!-- header respon nav start -->
                <ul class="header__nav header__nav-respon">
                    <li class="header__nav__item header__nav-respon__item">
                        <button class="icon-btn open-respon-btn"><i class="fal fa-bars"></i></button>
                    </li>
                </ul>
                <!-- header respon nav end -->
                <img src="/public/assets/media/images/logo.svg" alt="" class="logo">
                <ul class="header__nav flex g60">
                    <li class="header__nav__item"><a href="#" class="header__nav__link">Trang chủ</a></li>
                    <li class="header__nav__item por">
                        <a href="#" class="header__nav__link">Cửa hàng</a>
                        <div class="flex-between header__subnav__wrapper poa box-shadow1 p20 rounded-8">
                            <ul class="header__subnav flex-full flex-column g6">
                                <h4 class="title-medium header__subnav__title ttc">mô hình</h4>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">naruto</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">one piece</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">dragon ball</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">jujutsu kaisen</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">kimetsu no yaiba</a>
                                </li>
                            </ul>
                            <ul class="header__subnav flex-full flex-column g6">
                                <h4 class="title-medium header__subnav__title ttc">mô hình</h4>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">naruto</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">one piece</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">dragon ball</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">jujutsu kaisen</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">kimetsu no yaiba</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__nav__item por">
                        <a href="#" class="header__nav__link">Khác</a>
                        <div class="flex-between header__subnav__wrapper poa box-shadow1 p20 rounded-8 g30">
                            <ul class="header__subnav flex-full flex-column">
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">liên hệ</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">trợ giúp</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">về chúng tôi</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">chính sách bảo mật</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">chính sách hoàn tiền</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="header__nav flex g30">
                    <li class="header__nav__item flex-center">
                        <button class="icon-btn open-search-box__btn rounded-full">
                            <i class="far fa-search"></i>
                        </button>
                    </li>
                    <li class="header__nav__item flex-center"><button class="icon-btn" data-elm-function=""><i class="far fa-shopping-cart"></i></button></li>
                    <li class="header__nav__item por flex-center">
                        <!-- guest navigation -->
                        <a class="btn primary-btn">Đăng ký ngay</a>

                        <!-- customer navigation -->
                        <!-- <a href="#" class="user-widget flex flex-center g6">
                            <i class="fal fa-user user-widget__icon"></i>
                            <div class="username">Username</div>
                        </a>
                        <div class="flex-between header__subnav__wrapper poa box-shadow1 p20 rounded-8" style="top: 100%; left: 0;">
                            <ul class="header__subnav flex-full flex-column g6">
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">Account detail</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">Log out</a>
                                </li>
                            </ul>
                        </div> -->
                    </li>
                </ul>

                <!-- header respon nav start -->
                <ul class="header__nav header__nav-respon">
                    <li class="header__nav__item header__nav-respon__item">
                        <button class="icon-btn open-respon-btn"><i class="fal fa-shopping-cart"></i></button>
                    </li>
                </ul>
                <!-- header respon nav end -->

            </div>

            <!-- header search box start -->
            <div class="header__search-box pof">
                <button class="icon-btn close-search-box__btn" style="align-self: flex-end;">
                    <i class="fal fa-times"></i>
                </button>
                <form action="" class="form search__form">
                    <div class="form__group flex-center por">
                        <input type="text" class="form__input search__form__input" placeholder="Nhập tên sản phẩm">
                        <button class="icon-btn search__form__btn"><i class="far fa-search"></i></button>
                    </div>
                </form>
                <div class="search__product__wrapper mia flex-column g16" style="overflow-y: auto; width: 50vw">
                    <!-- single search product start -->
                    <div class="search__product flex-between p20 rounded-8 width-full">
                        <div class="flex g12">
                            <div class="search__product__banner">
                                <img src="/public/assets/media/images/product/v944cyfrwt851.webp" alt="">
                            </div>
                            <div class="search__product__info flex-column flex-between">
                                <a href="" class="search__product__name title-large underline">Itachi - Susano Ribcage</a>
                                <div class="search__product__price title-medium">2.344.900 VND</div>
                            </div>
                        </div>
                        <div class="flex-between flex-column end">
                            <button class="icon-btn delete-search-product__btn"><i class="fal fa-times"></i></button>
                            <div class="flex g12">
                                <button class="icon-btn"><i class="fal fa-share"></i></button>
                                <button class="icon-btn love-btn"><i class="fal fa-heart"></i></button>
                                <button class="icon-btn"><i class="fal fa-shopping-cart"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- single search product end -->
                </div>
            </div>
            <!-- header search box end -->

        </header>

        <!-- header respon fullscreen nav start -->
        <ul class="header__nav-respon header__nav-respon-full">
            <li class="header__nav-respon-full__item flex-between v-center">
                <button class="icon-btn"><i class="fal fa-user"></i></button>
                <button class="icon-btn close-respon-btn"><i class="fal fa-times"></i></button>
            </li>
            <li class="header__nav-respon-full__item flex-between">
                <a href="#" class="header__nav-respon-full__link">Trang chủ</a>
            </li>
            <li class="header__nav-respon-full__item flex-between">
                <a href="#" class="header__nav-respon-full__link">cửa hàng</a>
            </li>
            <li class="header__nav-respon-full__item flex-between">
                <a href="#" class="header__nav-respon-full__link">liên hệ</a>
            </li>
            <li class="header__nav-respon-full__item flex-between">
                <a href="#" class="header__nav-respon-full__link">tài khoản</a>
            </li>
        </ul>
        <!-- header respon fullscreen nav end -->

        <!-- header end -->

        <!-- Body Start -->
        <main class="mt80 section">
        <!-- Confirm HEADING Text Start -->

            <div class="confirmHeadingText mb60">
                <div class="col-12 flex width-full d-sm-block d-md-block d-sm-block row-lg">
                    <div class="col-6 col-lg-12 col-md-12 width-full confirmHeadingText_left">
                        <div class="col-12 width-full mb6">
                            <h2 class="title-medium">Chúc Mừng</h2>
                        </div>
                        <div class="col-12 width-full">
                            <div class="lineMiniConfirm"></div>
                        </div>
                        <div class="col-12 width-full mt6">
                            <h1 class="display-medium fw-black">ĐẶT HÀNG THÀNH CÔNG</h1>
                        </div>
                    </div>
                    <div class="col-6 col-lg-12 col-md-12 width-full confirmHeadingText_right flex a-end mt-sm-12 mt-md-12 mt-lg-12">
                        <P class="body-medium">
                            Email xác nhận đơn hàng đã được gửi về anonymus@gmail.com, vui lòng kiểm tra và bấm vào XÁC NHẬN để hoàn tất đặt hàng
                        </P>
                    </div>
                </div>
            </div>

        <!-- End Confirm HEADING Text -->
            
        <div class="detailOrders">
            <div class="col-12 width-full detailerOrders_top mb30">
                <h2 class="title-medium mb12">Chi Tiết Đơn Hàng</h2>
                <div class="lineMiniConfirm"></div>
            </div>
            <div class="col-12 width-full d-block d-sm-block d-md-block flex detailerOrders_bottom mt30 row-lg">
                <div class="col-xxl-6 col-sm-12 col-md-12 col-lg-12 detailOrders-left width-full" style="padding: 30px 30px 30px 0;">
                    <div class="col-12 width-full flex mb20 recipientOrderUser">
                        <div class="col-6 width-full">
                            <div class="detailOrder_items">
                                <h3 class="title-medium">Người Nhận</h3>
                                <h2 class="title-large">Trần Thị Hồng Ngọc</h2>
                                <h4 class="body-medium">SĐT: <span> 0934630736</span></h4>
                                <h4 class="body-medium">Email: <span>hongngoc@gmail.com</span></h4>
                                <h4 class="body-medium">Địa Chỉ: <span>212B, Baker Street</span></h4>
                            </div>
                        </div>
                        <div class="col-6 width-full">
                            <div class="detailOrder_items">
                                <h3 class="title-medium">Người Đặt</h3>
                                <h2 class="title-large">Trần Thị Hồng Ngọc</h2>
                                <h4 class="body-medium">SĐT: <span> 0934630736</span></h4>
                                <h4 class="body-medium">Email: <span>hongngoc@gmail.com</span></h4>
                                <h4 class="body-medium">Địa Chỉ: <span>212B, Baker Street</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 width-full flex mb20 shippingMethodUser">
                        <div class="col-6 width-full">
                            <div class="detailOrder_items">
                                <h3 class="title-medium">Phương thức thanh toán</h3>
                                <h4 class="body-medium">Tiền Mặt</h4>
                            </div>
                        </div>
                        <div class="col-6 width-full">
                            <div class="detailOrder_items">
                                <h3 class="title-medium">Phương thức vận chuyển</h3>
                                <h4 class="body-medium">Thông thường (3 - 7 ngày tùy đơn hàng)</h4>
                                <h4 class="body-medium">25.000 VNĐ</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 width-full flex mb20 itendTimeShipUser">
                        <div class="col-6 width-full">
                            <div class="detailOrder_items">
                                <h3 class="title-medium">Thời gian đặt hàng</h3>
                                <h4 class="body-medium">Ngày: <span>26 / 10 / 2023</span></h4>
                                <h4 class="body-medium">Giờ: <span>15 : 29 : 30</span></h4>
                            </div>
                        </div>
                        <div class="col-6 width-full">
                            <div class="detailOrder_items">
                                <h3 class="title-medium">Thời gian giao hàng dự kiến</h3>
                                <h4 class="body-medium">Ngày: <span>30 / 10 / 2023</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-sm-12 col-md-12 col-lg-12 detailOrders-right width-full" style="padding: 30px;">
                    <h2 class="title-medium mb20">Sản Phẩm</h2>
                    <div class="listProductCart">
                        <div class="listProductCart_item flex">
                            <div class="col-6 width-full">
                                <div class="col-12 width-full flex">
                                    <div class="col-4 width-full">
                                        <img src="../assets/media/images/users/anonyUser.png" alt="">
                                    </div>
                                    <div class="col-8 width-full row">
                                        <div class="col-12 width-full cart-item-name">Bán Mèo Siêu Cấp Vip Pro</div>
                                        <div class="col-12 width-full flex a-end">Collection: <span>NARUTO</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 width-full row j-end">
                                <div class="col-12 width-full flex j-end">1.289.000 VNĐ</div>
                                <div class="col-12 width-full flex j-end a-end">X 1</div>
                            </div>
                        </div>
                        <div class="listProductCart_item flex">
                            <div class="col-6 width-full">
                                <div class="col-12 width-full flex">
                                    <div class="col-4 width-full">
                                        <img src="../assets/media/images/users/anonyUser.png" alt="">
                                    </div>
                                    <div class="col-8 width-full row">
                                        <div class="col-12 width-full cart-item-name">Bán Mèo Siêu Cấp Vip Pro</div>
                                        <div class="col-12 width-full flex a-end">Collection: <span>NARUTO</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 width-full row j-end">
                                <div class="col-12 width-full flex j-end">1.289.000 VNĐ</div>
                                <div class="col-12 width-full flex j-end a-end">X 1</div>
                            </div>
                        </div>
                        <div class="listProductCart_item flex">
                            <div class="col-6 width-full">
                                <div class="col-12 width-full flex">
                                    <div class="col-4 width-full">
                                        <img src="../assets/media/images/users/anonyUser.png" alt="">
                                    </div>
                                    <div class="col-8 width-full row">
                                        <div class="col-12 width-full cart-item-name">Bán Mèo Siêu Cấp Vip Pro</div>
                                        <div class="col-12 width-full flex a-end">Collection: <span>NARUTO</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 width-full row j-end">
                                <div class="col-12 width-full flex j-end">1.289.000 VNĐ</div>
                                <div class="col-12 width-full flex j-end a-end">X 1</div>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="totalInfoCartConfirm">
                        <div class="col-12 totalAmountConfirm flex width-full a-center">
                            <div class="col-4 col-lg-4"><p class="body-large">Tổng Tiền</p></div>
                            <div class="col-6 col-lg-4 lineAmmoutConfirm width-full"></div>
                            <div class="col-2 col-lg-4 totalAmount headline-small flex j-end">9.999.999 VNĐ</div>
                        </div>
                        <div class="col-12 width-full">
                            <p class="label-medium">Đơn hàng sẽ được giao đến tay bạn trong thời gian sớm nhất. Trong lúc chờ đợi, bạn có thể khám phá thêm những sản phẩm hấp dẫn khác từ LEGOUS</p>
                        </div>
                        <div class="col-12 width-full buttonNextOrders mt12">
                            <button class="nextOrders width-full">
                                -> Tiếp Tục Mua Sắm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>
        <!-- End Body -->

        <!-- footer start -->
<footer class="footer section auto-grid g60">
    <div class="footer__infomation flex-column g30">
        <a href="#" class="logo">
            <img src="/public/assets/media/images/logo-dark.svg" alt="" class="logo-image" />
        </a>
        <div class="row g30">
            <div class="footer-column">
                <h3 class="footer-heading ttu">LEGOUS</h3>
                <ul class="footer-links">
                    <li>
                        <a href="#!" class="footer-link text-btn btn rounded-100">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-link text-btn btn rounded-100">Cửa hàng</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-link text-btn btn rounded-100">Liên hệ</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-link text-btn btn rounded-100">Về chúng tôi</a>
                    </li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 class="footer-heading ttu">SUPPORT</h3>
                <ul class="footer-links">
                    <li>
                        <a href="#!" class="footer-link text-btn btn rounded-100">Hướng dẫn xây dựng</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-link text-btn btn rounded-100">Hướng dẫn đặt hàng</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-link text-btn btn rounded-100">Đăng ký thành viên</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-link text-btn btn rounded-100">Đăng ký thành viên</a>
                    </li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 class="footer-heading ttu">SOCIAL</h3>
                <ul class="footer-links">
                    <li>
                        <a href="#!" class="footer-link text-btn btn rounded-100">Facebook</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-link text-btn btn rounded-100">Zalo</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-link text-btn btn rounded-100">Twitter</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-link text-btn btn rounded-100">Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__email-form flex-column g30" style="color: white;">
        <div class="text-46 ttu" style="max-width: 75%;">ĐĂNG KÝ NGAY 
CHỈ BẰNG EMAIL</div>
        <form action="" class="form email__form" method="post" style="width: fit-content">
            <div class="form__group por flex">
                <input type="text" class="form__input footer__email-input" id="email" placeholder="Email...">
                <button type="button" class="btn primary-btn poa form-btn">
                    <i class="fal fa-arrow-right"></i>
                </button>
            </div>
        </form>
        <span class="body-medium">LEGOUS là một trang web chuyên về mô hình và lego từ các bộ truyện tranh nổi tiếng cũng như những kiến trúc ở thế giới hiện thực. Mục tiêu của chúng tôi là trở thành một thương hiệu lớn mạnh trong lĩnh vực này. Chúng tôi sẽ cố gắng hết sức để đạt được nó.</span>
    </div>
</footer>
<footer class="footer section footer--mini flex j-start g30">
    <span class="footer--mini__item body-small flex g6 v-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M9.89999 7.6165C10.9667 7.6665 11.2417 8.57484 11.2583 8.99984H12.75C12.6833 7.34984 11.5083 6.3415 9.87499 6.3415C8.03332 6.3415 6.66666 7.49984 6.66666 10.1165C6.66666 11.7332 7.44166 13.6498 9.86666 13.6498C11.7167 13.6498 12.7083 12.2748 12.7333 11.1915H11.2417C11.2167 11.6832 10.8667 12.3415 9.88332 12.3915C8.79166 12.3582 8.33332 11.5082 8.33332 10.1165C8.33332 7.70817 9.39999 7.63317 9.89999 7.6165ZM9.99999 1.6665C5.39999 1.6665 1.66666 5.39984 1.66666 9.99984C1.66666 14.5998 5.39999 18.3332 9.99999 18.3332C14.6 18.3332 18.3333 14.5998 18.3333 9.99984C18.3333 5.39984 14.6 1.6665 9.99999 1.6665ZM9.99999 16.6665C6.32499 16.6665 3.33332 13.6748 3.33332 9.99984C3.33332 6.32484 6.32499 3.33317 9.99999 3.33317C13.675 3.33317 16.6667 6.32484 16.6667 9.99984C16.6667 13.6748 13.675 16.6665 9.99999 16.6665Z" fill="white"/>
        </svg>
        /2023 LEGOUS OFFICIAL
    </span>
    <a href="#" class="footer--mini__link body-small">Terms of use</a>
    <a href="#" class="footer--mini__link body-small">Private policy</a>
    <a href="#" class="footer--mini__link body-small">Return policy</a>
    <a href="#" class="footer--mini__link body-small">Cookie policy</a>
    <a href="#" class="footer--mini__link body-small">Support</a>
</footer>
footer end

mobile bottom navbar start
<div class="home-bottom-navbar p10 flex-center pof width-full">
    <ul class="width-full p12 rounded-8 box-shadow1 flex-between">
        <li class="bottom-navbar__item">
            <a href="#" class="bottom-navbar__link p10 rounded-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <g clip-path="url(#clip0_55247_9670)">
                    <path d="M19.6863 1.5H11.4759" stroke="#6750A4" stroke-width="8"/>
                    <path d="M18.4998 8.21021V-0.000212983" stroke="#6750A4" stroke-width="8"/>
                    <path d="M0 18.5H8.21042" stroke="#6750A4" stroke-width="8"/>
                    <path d="M1.50024 11.3772V19.5876" stroke="#6750A4" stroke-width="8"/>
                    <path d="M1.49976 0.000488281V8.21091" stroke="#6750A4" stroke-width="8"/>
                    <path d="M8.20996 1.5H-0.000454984" stroke="#6750A4" stroke-width="8"/>
                    <path d="M18.5 19.9006V11.3769" stroke="#6750A4" stroke-width="8"/>
                    <path d="M11.4763 18.5H20.0001" stroke="#6750A4" stroke-width="8"/>
                </g>
                <defs>
                    <clipPath id="clip0_55247_9670">
                    <rect width="20" height="20" fill="white"/>
                    </clipPath>
                </defs>
                </svg>
                <span class="label-large-prominent">Trang Chủ</span>
            </a>
        </li>
        <li class="bottom-navbar__item">
            <a href="#" class="bottom-navbar__link p10 rounded-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="24" viewBox="0 0 29 24" fill="none">
<path d="M21.3333 6H19C19 3.79 16.9117 2 14.3333 2C11.755 2 9.66667 3.79 9.66667 6H7.33333C6.05 6 5 6.9 5 8V20C5 21.1 6.05 22 7.33333 22H21.3333C22.6167 22 23.6667 21.1 23.6667 20V8C23.6667 6.9 22.6167 6 21.3333 6ZM12 10C12 10.55 11.475 11 10.8333 11C10.1917 11 9.66667 10.55 9.66667 10V8H12V10ZM14.3333 4C15.6167 4 16.6667 4.9 16.6667 6H12C12 4.9 13.05 4 14.3333 4ZM19 10C19 10.55 18.475 11 17.8333 11C17.1917 11 16.6667 10.55 16.6667 10V8H19V10Z" fill="#1D192B"/>
</svg>
                <span class="label-large-prominent">Cửa hàng</span>
            </a>
        </li>
        <li class="bottom-navbar__item">
            <a href="#" class="bottom-navbar__link p10 rounded-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
<rect x="0.666748" width="20" height="20" rx="10" fill="#1D1B20"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M13.6669 8C13.6669 9.65685 12.3237 11 10.6669 11C9.01002 11 7.66687 9.65685 7.66687 8C7.66687 6.34315 9.01002 5 10.6669 5C12.3237 5 13.6669 6.34315 13.6669 8ZM12.6669 8C12.6669 9.10457 11.7714 10 10.6669 10C9.5623 10 8.66687 9.10457 8.66687 8C8.66687 6.89543 9.5623 6 10.6669 6C11.7714 6 12.6669 6.89543 12.6669 8Z" fill="white"/>
<path d="M10.6669 12.5C7.42968 12.5 4.67151 14.4142 3.62085 17.096C3.8768 17.3502 4.14642 17.5906 4.42851 17.816C5.21088 15.3538 7.66523 13.5 10.6669 13.5C13.6685 13.5 16.1229 15.3538 16.9052 17.816C17.1873 17.5906 17.4569 17.3502 17.7129 17.096C16.6622 14.4142 13.9041 12.5 10.6669 12.5Z" fill="white"/>
</svg>
                <span class="label-large-prominent">Tài khoản</span>
            </a>
        </li>
        <li class="bottom-navbar__item">
            <a href="#" class="bottom-navbar__link p10 rounded-8">
                <i class="fa fa-search"></i>
                <span class="label-large-prominent">Tìm kiếm</span>
            </a>
        </li>
    </ul>
</div>
<!-- mobile bottom navbar end -->
    </div>
</body>
</html>
<script src="/public/assets/resources/js/main.js"></script>
<script src="/public/assets/resources/js/slickEdit.js"></script>



