<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEGOUS - CONTACT</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
      />
    <link rel="stylesheet" href="/public/assets/resources/sass/css/app.css">
    <link rel="icon" type="image/x-icon" href="/public/assets/media/images/favicon/favicon.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Space+Mono&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
        type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="/public/assets/resources/js/jquery.js"></script>
</head>
<body>
    <div class="container-full por">
         <!-- header start -->
    <header class="header flex-full width-full flex-center pof">
        <div class="header__inner flex-full flex-between por v-center">
            <!-- header respon nav start -->
            <ul class="header__nav header__nav-respon">
                <li class="header__nav__item header__nav-respon__item">
                    <button class="icon-btn open-respon-btn"><i class="fal fa-bars"></i></button>
                </li>
            </ul>
            <!-- header respon nav end -->
            <img src="/public/assets/media/images/logo.svg" alt="" class="logo">
            <ul class="header__nav flex g60">
                <li class="header__nav__item"><a href="#" class="header__nav__link">Trang chủ</a></li>
                <li class="header__nav__item por">
                    <a href="#" class="header__nav__link">Cửa hàng</a>
                    <div class="flex-between header__subnav__wrapper poa box-shadow1 p20 rounded-8">
                        <ul class="header__subnav flex-full flex-column g6">
                            <h4 class="title-medium header__subnav__title ttc">mô hình</h4>
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">naruto</a>
                            </li>
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">one piece</a>
                            </li>
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">dragon ball</a>
                            </li>
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">jujutsu kaisen</a>
                            </li>
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">kimetsu no yaiba</a>
                            </li>
                        </ul>
                        <ul class="header__subnav flex-full flex-column g6">
                            <h4 class="title-medium header__subnav__title ttc">mô hình</h4>
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">naruto</a>
                            </li>
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">one piece</a>
                            </li>
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">dragon ball</a>
                            </li>
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">jujutsu kaisen</a>
                            </li>
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">kimetsu no yaiba</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="header__nav__item por">
                    <a href="#" class="header__nav__link">Khác</a>
                    <div class="flex-between header__subnav__wrapper poa box-shadow1 p20 rounded-8 g30">
                        <ul class="header__subnav flex-full flex-column">
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">liên hệ</a>
                            </li>
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">trợ giúp</a>
                            </li>
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">về chúng tôi</a>
                            </li>
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">chính sách bảo
                                    mật</a>
                            </li>
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">chính sách hoàn
                                    tiền</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="header__nav flex g30">
                <li class="header__nav__item flex-center">
                    <button class="icon-btn open-search-box__btn rounded-full">
                        <i class="far fa-search"></i>
                    </button>
                </li>
                <li class="header__nav__item flex-center"><button class="icon-btn" data-elm-function=""><i
                            class="far fa-shopping-cart"></i></button></li>
                <li class="header__nav__item por flex-center">
                    <!-- guest navigation -->
                    <a class="btn primary-btn">Đăng ký ngay</a>

                    <!-- customer navigation -->
                    <!-- <a href="#" class="user-widget flex flex-center g6">
                        <i class="fal fa-user user-widget__icon"></i>
                        <div class="username">Username</div>
                    </a>
                    <div class="flex-between header__subnav__wrapper poa box-shadow1 p20 rounded-8" style="top: 100%; left: 0;">
                        <ul class="header__subnav flex-full flex-column g6">
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">Account detail</a>
                            </li>
                            <li class="header__nav__item header__subnav__item">
                                <a href="#" class="header__nav__link header__subnav__link ttu">Log out</a>
                            </li>
                        </ul>
                    </div> -->
                </li>
            </ul>

            <!-- header respon nav start -->
            <ul class="header__nav header__nav-respon">
                <li class="header__nav__item header__nav-respon__item">
                    <button class="icon-btn open-respon-btn"><i class="fal fa-shopping-cart"></i></button>
                </li>
            </ul>
            <!-- header respon nav end -->

        </div>

        <!-- header search box start -->
        <div class="header__search-box pof">
            <button class="icon-btn close-search-box__btn" style="align-self: flex-end;">
                <i class="fal fa-times"></i>
            </button>
            <form action="" class="form search__form">
                <div class="form__group flex-center por">
                    <input type="text" class="form__input search__form__input" placeholder="Nhập tên sản phẩm">
                    <button class="icon-btn search__form__btn"><i class="far fa-search"></i></button>
                </div>
            </form>
            <div class="search__product__wrapper mia flex-column g16" style="overflow-y: auto; width: 50vw">
                <!-- single search product start -->
                <div class="search__product flex-between p20 rounded-8 width-full">
                    <div class="flex g12">
                        <div class="search__product__banner">
                            <img src="/public/assets/media/images/product/v944cyfrwt851.webp" alt="">
                        </div>
                        <div class="search__product__info flex-column flex-between">
                            <a href="" class="search__product__name title-large underline">Itachi - Susano
                                Ribcage</a>
                            <div class="search__product__price title-medium">2.344.900 VND</div>
                        </div>
                    </div>
                    <div class="flex-between flex-column end">
                        <button class="icon-btn delete-search-product__btn"><i class="fal fa-times"></i></button>
                        <div class="flex g12">
                            <button class="icon-btn"><i class="fal fa-share"></i></button>
                            <button class="icon-btn love-btn"><i class="fal fa-heart"></i></button>
                            <button class="icon-btn"><i class="fal fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
                <!-- single search product end -->
            </div>
        </div>
        <!-- header search box end -->

    </header>

    <!-- header respon fullscreen nav start -->
    <ul class="header__nav-respon header__nav-respon-full">
        <li class="header__nav-respon-full__item flex-between v-center">
            <button class="icon-btn"><i class="fal fa-user"></i></button>
            <button class="icon-btn close-respon-btn"><i class="fal fa-times"></i></button>
        </li>
        <li class="header__nav-respon-full__item flex-between">
            <a href="#" class="header__nav-respon-full__link">Trang chủ</a>
        </li>
        <li class="header__nav-respon-full__item flex-between">
            <a href="#" class="header__nav-respon-full__link">cửa hàng</a>
        </li>
        <li class="header__nav-respon-full__item flex-between">
            <a href="#" class="header__nav-respon-full__link">liên hệ</a>
        </li>
        <li class="header__nav-respon-full__item flex-between">
            <a href="#" class="header__nav-respon-full__link">tài khoản</a>
        </li>
    </ul>
    <!-- header respon fullscreen nav end -->

    <!-- header end -->

        <main class="main__contact">
            <div class="main__inner">
                <div class="main__inner--top">
                    <div class="box__content flex-between">
                        <div class="box__content--left">
                            <h2 class="text-68">LIÊN HỆ</h2>
                            <div class="light-devider">
                                <svg xmlns="http://www.w3.org/2000/svg" width="110" height="4" viewBox="0 0 110 4" fill="none">
                                    <path d="M2 2H107.5" stroke="#625B71" stroke-width="4" stroke-linecap="round"/>
                                </svg>
                            </div>
                        </div>
                        <div class="box__content--right">
                            <span>Liên hệ ngay với chúng tôi để được tư vấn và hỗ trợ tốt nhất!</span>
                        </div>
                    </div>
                </div>
                <div class="main__inner--bottom">
                    <section class="container__1  flex-between">
                       <div class="box--left flex-column  g30">
                            <div class="box__content flex-column  g12">
                                <h2>Gửi mail</h2>
                                <p>Bạn có thể liên lạc với chúng tôi bằng email qua form bên dưới, 
                                    để lại cho chúng tôi câu hỏi, 
                                    vấn đề hoặc lí do mà các bạn cần liên lạc với chúng tôi. 
                                    Chúng tôi sẽ hồi âm trong thời gian sớm nhất.</p>
                            </div>
                            <form action="">
                                <!-- normal form group -->
                                <div class="form__group without-title">
                                    <input type="text" class="form__input" placeholder=" ">
                                    <label for="" class="label__place">Email</label>
                                    <span class="form__message"></span>
                                </div>
                                <div class="form__group without-title">
                                    <input type="text" class="form__input" placeholder=" ">
                                    <label for="" class="label__place">Tên đăng nhập</label>
                                    <span class="form__message"></span>
                                </div>
                                 <!-- normal form group -->
                                <div class="form__group without-title">
                                    <!-- <span class="form__label"></span> -->
                                    <textarea class="form__input--texterea" name="bio" id="" cols="30" rows="12" placeholder="Lời nhắn"></textarea>
                                    <!-- <label for="" class="label__place label__place--bio">Lời nhắn</label> -->
                                    <span class="form__message"></span>
                                </div>
                            </form>
                       </div>
                       <div class="line--center ">
                       </div>
                       <div class="box--right flex-column">
                            <div class="box__content flex-column g12">
                                <h2>Điện thoại</h2>
                                <p>Gọi cho chúng tôi nếu bạn cần,
                                    nhân viên của LEGOUS luôn sẵn sàng nghe máy 24/7.
                                </p>
                                <div class="box__content-item flex g8 a-center">
                                    <div class="icon rounded-half ">
                                        <i class="fa-solid fa-phone p10 "></i>
                                    </div>
                                    <p>+84934630736</p>
                                </div>
                            </div>
                            <div class="box__content flex-column g12">
                                <h2>Địa chỉ</h2>
                                <p>Đây là địa chỉ của chúng tôi.
                                </p>
                                <div class="box__content-item flex g8 a-center">
                                    <div class="icon rounded-half ">
                                        <i class="fa-solid fa-location-dot p10"></i>
                                    </div>
                                    <p>Việt Nam</p>
                                </div>
                            </div>
                            <div class="box__content flex-column g12">
                                <h2>Nhắn tin</h2>
                                <p> Hãy trao đổi qua tin nhắn để chúng tôi  tư vấn cụ thể hơn
                                </p>
                                <div class="box__content-item flex g8 a-center">
                                    <div class="icon rounded-half ">
                                        <i class="fas fa-comments p10"></i>
                                    </div>
                                    <p>Nhắn tin</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="container__2 flex-between g30">
                        <div class="box--left">
                            <img src="/public/assets/media/images/banners/image 4.svg" alt="">
                        </div>
                        <div class="box--right">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3822.266122569526!2d105.8491695157099!3d21.02255898954545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a49315938351%3A0x641317b16f65f28c!2sVăn%20phòng%20Google%20Việt%20Nam!5e0!3m2!1svi!2svn!4v1649056555625!5m2!1svi!2svn" style="width: 100%; height: 100%;" -->
                                 allowfullscreen="" loading="lazy">
                            </iframe>
                        </div>
                    </section>
                    <section class="container__3 flex-between ">
                        <div class="box--left">
                            <div class="box__content p16">
                                <p>FAQ</p>
                                <h2 class="text-68">CÂU HỎI THƯỜNG GẶP Ở LEGOUS.</h2>
                            </div>
                        </div>
                        <div class="box--right flex-column">
                            <div class="box__content--top flex-column g16">
                                <h2>Bạn gặp vấn đề khi trải nghiệm dịch vụ tại LEGOUS?</h2>
                                <p>Tham khảo những câu hỏi thường gặp dưới đây để tìm hướng giải quyết. Nếu vẫn chưa tìm được, hãy liên lạc với chúng tôi ngay để nhận được sự giúp đỡ.</p>
                            </div>
                            <div class="box__content--bottom flex-column">
                                <div class="box__item flex a-center g12 ">
                                    <h2>Các câu câu hỏi dành cho LEGOUS !</h2>
                                    <div class="rectangle rounded-half"></div>
                                </div>
                                <div class="box__item flex a-center g12 ">
                                    <h2>Các câu câu hỏi dành cho LEGOUS !</h2>
                                    <div class="rectangle rounded-half"></div>
                                </div>
                                <div class="box__item flex a-center g12 ">
                                    <h2>Các câu câu hỏi dành cho LEGOUS !</h2>
                                    <div class="rectangle rounded-half"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>

    </div>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
</body>
</html>
<script src="/public/assets/resources/js/main.js"></script>
<script src="/public/assets/resources/js/user.js"></script>