<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEGOUS - CATEGORY</title>
    <link rel="stylesheet" href="/public/assets/resources/sass/css/app.css">
    <link rel="icon" type="image/x-icon" href="/public/assets/media/images/favicon/favicon.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Space+Mono&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
        type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="/public/assets/resources/js/jquery.js"></script>
</head>
<body>
    <div class="container-full">
        <!-- shop mobile top navigation bar start -->
        <div class="mobile-top__bar mobile-top__bar--shop p12 flex-center">
            <div class="mobile-top__inner flex-full flex-between v-center g12">
                <button class="icon-btn back-btn"><i class="fal fa-chevron-left"></i></button>
                <form action="#" class="form mobile__search-form flex-full">
                    <div class="form__group width-full por">
                        <i class="fal fa-search poa" style="left: 2rem; top: 30%; transform: translate(-50%)"></i>
                        <input type="text" class="form__input rounded-100 width-full" style="padding-left: 4rem">
                    </div>
                </form>
                <button class="icon-btn cart-btn"><i class="fal fa-shopping-cart"></i></button>

                <!-- guest widget -->
                <!-- <button class="icon-btn user-btn"><i class="fal fa-user"></i></button> -->

                <!-- member widget -->
                <div class="por member-widget">
                    <button class="icon-btn more-btn"><i class="far fa-ellipsis-h"></i></button>
                    <ul class="poa option__list oh p10 box-shadow1 rounded-8">
                        <li class="option__item">
                            <a href="#" class="option__link ttc">trang chủ</a>
                        </li>
                        <li class="option__item">
                            <a href="#" class="option__link ttc">chia sẻ</a>
                        </li>
                        <li class="option__item">
                            <a href="#" class="option__link ttc">tìm kiếm</a>
                        </li>
                        <li class="option__item">
                            <a href="#" class="option__link ttc">tin nhắn</a>
                        </li>
                        <li class="option__item">
                            <a href="#" class="option__link ttc">tài khoản của tôi</a>
                        </li>
                        <li class="option__item">
                            <a href="#" class="option__link ttc">báo cáo</a>
                        </li>
                        <li class="option__item">
                            <a href="#" class="option__link ttc">trợ giúp</a>
                        </li>
                        <li class="option__item">
                            <a href="#" class="option__link ttc">phản hồi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- shop mobile top navigation bar end -->

        <!-- hot keyword section start -->
        <section class="section hot-keyword__section mt80">
            <h4 class="title-large fw-black mt12">Từ khóa hot</h4>
            <div class="keyword__wrapper flex oh g12 mt12">
                <!-- single coupon item start -->
                <div class="keyword__item flex v-center g12 label-medium p10 rounded-4">
                    Keyword 
                    <a href="#" class="delete-keyword__btn"><i class="fal fa-times"></i></a>
                </div>
                <!-- single coupon item end -->

                <div class="keyword__item flex v-center g12 label-medium p10 rounded-4">
                    Keyword 
                    <a href="#" class="delete-keyword__btn"><i class="fal fa-times"></i></a>
                </div>
                <div class="keyword__item flex v-center g12 label-medium p10 rounded-4">
                    Keyword 
                    <a href="#" class="delete-keyword__btn"><i class="fal fa-times"></i></a>
                </div>
                <div class="keyword__item flex v-center g12 label-medium p10 rounded-4">
                    Keyword 
                    <a href="#" class="delete-keyword__btn"><i class="fal fa-times"></i></a>
                </div>
                <div class="keyword__item flex v-center g12 label-medium p10 rounded-4">
                    Keyword 
                    <a href="#" class="delete-keyword__btn"><i class="fal fa-times"></i></a>
                </div>
                <div class="keyword__item flex v-center g12 label-medium p10 rounded-4">
                    Keyword 
                    <a href="#" class="delete-keyword__btn"><i class="fal fa-times"></i></a>
                </div>
                <div class="keyword__item flex v-center g12 label-medium p10 rounded-4">
                    Keyword 
                    <a href="#" class="delete-keyword__btn"><i class="fal fa-times"></i></a>
                </div>
            </div>
        </section>
        <!-- hot keyword section end -->

        <!-- most search products start -->
        <section class="section most-search__section">
            <h4 class="title-large fw-black mt12">Từ khóa hot</h4>
            <div class="most-search__wrapper g12">
                <!-- single most search product start -->
                <div class="most-search__product">
                    <div class="most-search__banner">
                        <img src="/public/assets/media/images/product/v944cyfrwt851.webp" alt="" class="img-cover">
                    </div>
                    <h5 class="label-medium-prominent tac">Product name</h5>
                </div>
                <!-- single most search product end -->
            </div>
        </section>
        <!-- most search products end -->
    </div>
</body>
</html>
<script src="/public/assets/resources/js/main.js"></script>
<script src="/public/assets/resources/js/slickEdit.js"></script>