<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEGOUS - HOME PAGE</title>
    <link rel="stylesheet" href="/public/assets/resources/sass/css/app.css">
    <link rel="icon" type="image/x-icon" href="/public/assets/media/images/favicon/favicon.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Space+Mono&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
        type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="/public/assets/resources/js/jquery.js"></script>
</head>
<body>
    <div class="container-full por">
        <!-- header start -->
        <header class="header flex-full width-full flex-center pof">
            <div class="header__inner flex-full flex-between por v-center">
                <img src="/public/assets/media/images/logo.svg" alt="" class="logo">
                <ul class="header__nav flex g60">
                    <li class="header__nav__item"><a href="#" class="header__nav__link">Trang chủ</a></li>
                    <li class="header__nav__item por">
                        <a href="#" class="header__nav__link">Cửa hàng</a>
                        <div class="flex-between header__subnav__wrapper poa box-shadow1 p20 rounded-8">
                            <ul class="header__subnav flex-full flex-column g6">
                                <h4 class="title-medium header__subnav__title ttc">mô hình</h4>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">naruto</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">one piece</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">dragon ball</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">jujutsu kaisen</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">kimetsu no yaiba</a>
                                </li>
                            </ul>
                            <ul class="header__subnav flex-full flex-column g6">
                                <h4 class="title-medium header__subnav__title ttc">mô hình</h4>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">naruto</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">one piece</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">dragon ball</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">jujutsu kaisen</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">kimetsu no yaiba</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__nav__item por">
                        <a href="#" class="header__nav__link">Khác</a>
                        <div class="flex-between header__subnav__wrapper poa box-shadow1 p20 rounded-8 g30">
                            <ul class="header__subnav flex-full flex-column">
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">liên hệ</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">trợ giúp</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">về chúng tôi</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">chính sách bảo mật</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">chính sách hoàn tiền</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="header__nav flex g30">
                    <li class="header__nav__item flex-center">
                        <button class="icon-btn open-search-box__btn rounded-full">
                            <i class="far fa-search"></i>
                        </button>
                    </li>
                    <li class="header__nav__item flex-center"><button class="icon-btn" data-elm-function=""><i class="far fa-shopping-cart"></i></button></li>
                    <li class="header__nav__item por flex-center">
                        <!-- guest navigation -->
                        <a class="btn primary-btn">Đăng ký ngay</a>

                        <!-- customer navigation -->
                        <!-- <a href="#" class="user-widget flex flex-center g6">
                            <i class="fal fa-user user-widget__icon"></i>
                            <div class="username">Username</div>
                        </a>
                        <div class="flex-between header__subnav__wrapper poa box-shadow1 p20 rounded-8" style="top: 100%; left: 0;">
                            <ul class="header__subnav flex-full flex-column g6">
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">Account detail</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">Log out</a>
                                </li>
                            </ul>
                        </div> -->
                    </li>
                </ul>

                <!-- header respon nav start -->
                <ul class="header__nav header__nav-respon">
                    <li class="header__nav__item header__nav-respon__item">
                        <button class="icon-btn open-respon-btn"><i class="fal fa-bars"></i></button>
                    </li>
                </ul>
                <ul class="header__nav-respon header__nav-respon-full poa">
                    <li class="header__nav-respon-full__item flex-between v-center">
                        <button class="icon-btn"><i class="fal fa-user"></i></button>
                        <button class="icon-btn close-respon-btn"><i class="fal fa-times"></i></button>
                    </li>
                    <li class="header__nav-respon-full__item flex-between">
                        <a href="#" class="header__nav-respon-full__link">Trang chủ</a>
                    </li>
                    <li class="header__nav-respon-full__item flex-between">
                        <a href="#" class="header__nav-respon-full__link">cửa hàng</a>
                    </li>
                    <li class="header__nav-respon-full__item flex-between">
                        <a href="#" class="header__nav-respon-full__link">liên hệ</a>
                    </li>
                    <li class="header__nav-respon-full__item flex-between">
                        <a href="#" class="header__nav-respon-full__link">tài khoản</a>
                    </li>
                </ul>
                <!-- header respon nav end -->

            </div>

            <!-- header search box start -->
            <div class="header__search-box pof">
                <button class="icon-btn close-search-box__btn" style="align-self: flex-end;">
                    <i class="fal fa-times"></i>
                </button>
                <form action="" class="form search__form">
                    <div class="form__group flex-center por">
                        <input type="text" class="form__input search__form__input" placeholder="Nhập tên sản phẩm">
                        <button class="icon-btn search__form__btn"><i class="far fa-search"></i></button>
                    </div>
                </form>
                <div class="search__product__wrapper mia flex-column g16" style="overflow-y: auto; width: 50vw">
                    <!-- single search product start -->
                    <div class="search__product flex-between p20 rounded-8 width-full">
                        <div class="flex g12">
                            <div class="search__product__banner">
                                <img src="/public/assets/media/images/product/v944cyfrwt851.webp" alt="">
                            </div>
                            <div class="search__product__info flex-column flex-between">
                                <a href="" class="search__product__name title-large underline">Itachi - Susano Ribcage</a>
                                <div class="search__product__price title-medium">2.344.900 VND</div>
                            </div>
                        </div>
                        <div class="flex-between flex-column end">
                            <button class="icon-btn delete-search-product__btn"><i class="fal fa-times"></i></button>
                            <div class="flex g12">
                                <button class="icon-btn"><i class="fal fa-share"></i></button>
                                <button class="icon-btn love-btn"><i class="fal fa-heart"></i></button>
                                <button class="icon-btn"><i class="fal fa-shopping-cart"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- single search product end -->
                </div>
            </div>
            <!-- header search box end -->

        </header>
        <!-- header end -->

        <main class="main__user">
            <div class="main__inner">
                <div class="main__inner--top">
                    <div class="avatar__image">
                        <img srcset="/public/assets/media/images/product/v944cyfrwt851.webp 2x" alt="" class="avatar__image--user">
                    </div>
                    <div class="info__user">
                        <div class="info__user--top">
                            <span class="user__name">UserName</span>
                            <span>/</span>
                            <span >Tổng Quan</span>
                        </div>
                        <div class="info__user--bottom">
                            <span class="info__user--desc">
                                Update your username and manage your account
                            </span>
                        </div>
                    </div>
                </div>
                <div class="main__inner--bottom flex-column">
                    <div class="main__inner--bottom-container flex-column rounded-2 p20 g30 ">
                        <div class="main__inner--bottom  fist--container flex-column">
                            Order ID: #234923
                            <div class="fist--container date  center ">
                                <i style="margin-right: 1rem;" class="fa-solid fa-calendar-days"></i>Aug 21, 2023 - Aug 28, 2023
                            </div>
                            <div class="pending">Pending</div>
                        </div>
                        <div class="main__inner--bottom light-devider " style="height: .1rem; width: 100%"></div>
                        <div class="main__inner--bottom second--container flex start g30">
                            <div class="second--container box-content flex g30 ">
                                <i class="fa-regular fa-user"></i>
                                <div class="box-content content flex-column  g8">
                                    <h3>Customer</h3>
                                    <p>Full name: <br>  Don Vito Corleone</p>
                                    <p>Email: <br> anonymus@gmail.com</p>
                                    <p>Phone: <br> 0293848329</p>
                                    <button class="text-btn ">View Profile</button>
                                </div>
                            </div>
                            <div class="second--container box-content flex g30 ">
                               <i class="fa-solid fa-wallet"></i>
                                <div class="box-content content flex-column  g8">
                                    <h3>Order Info</h3>
                                    <p>Shipping method: Standard</p>
                                    <p>Payment method: Cash</p>
                                    <p>Status:  Pending</p>
                                    <button class="text-btn ">Download Info</button>
                                </div>
                            </div>
                            <div class="second--container box-content flex g30 ">
                               <i class="fa-solid fa-wallet"></i>
                                <div class="box-content content flex-column  g8">
                                    <h3>Deliver To</h3>
                                    <p>Address: Santa Ana, Illinois 85486 </p>
                                    <p>2972 Westheimer Rd. Block 9A</p>
                                    <button class="text-btn ">Download Info</button>
                                </div>
                            </div>
                        </div>
                        <div class="main__inner--bottom light-devider " style="height: .1rem; width: 100%"></div>
                        <div class="main__inner--bottom finally--container flex-column ">
                            <h2>Product</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th class="label-large-prominent"><input type="checkbox"></th>
                                        <th class="label-large-prominent">Tên Sản Phẩm</th>
                                        <th class="label-large-prominent">Giá Sản Phẩm</th>
                                        <th class="label-large-prominent">Số Lượng</th>
                                        <th class="label-large-prominent">Tổng Giá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="label-large-prominent"><input type="checkbox"></td>
                                        <td class="label-large-prominent"><span>Sasuke - Susano Toàn Chân Thể</span></td>
                                        <td class="label-large-prominent"><span>1.243.000 VNĐ</span></td>
                                        <td class="label-large-prominent"><span>2</span></td>
                                        <td class="label-large-prominent"><span>2.486.000 VNĐ</span></td>
                                    </tr>
                                    <tr>
                                        <td class="label-large-prominent"><input type="checkbox"></td>
                                        <td class="label-large-prominent"><span>Sasuke - Susano Toàn Chân Thể</span></td>
                                        <td class="label-large-prominent"><span>1.243.000 VNĐ</span></td>
                                        <td class="label-large-prominent"><span>2</span></td>
                                        <td class="label-large-prominent"><span>2.486.000 VNĐ</span></td>
                                    </tr>
                                    <tr>
                                        <td class="label-large-prominent"><input type="checkbox"></td>
                                        <td class="label-large-prominent"><span>Sasuke - Susano Toàn Chân Thể</span></td>
                                        <td class="label-large-prominent"><span>1.243.000 VNĐ</span></td>
                                        <td class="label-large-prominent"><span>2</span></td>
                                        <td class="label-large-prominent"><span>2.486.000 VNĐ</span></td>
                                    </tr>
                                    <tr>
                                        <td class="label-large-prominent"><input type="checkbox"></td>
                                        <td class="label-large-prominent"><span>Sasuke - Susano Toàn Chân Thể</span></td>
                                        <td class="label-large-prominent"><span>1.243.000 VNĐ</span></td>
                                        <td class="label-large-prominent"><span>2</span></td>
                                        <td class="label-large-prominent"><span>2.486.000 VNĐ</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="main__inner--info-order full flex-column g30">
                        <div class="main__inner--info-orderTop flex j-end">
                            <div class="ain__inner--info-orderTop---items flex-column g12">
                                <div class="main__inner--info-orderTop---item flex flex-between g60">
                                    <span>Tổng giá trị sản phẩm</span>
                                    <span>2.338.000VNĐ</span>
                                </div>
                                <div class="main__inner--info-orderTop---item flex flex-between g60">
                                    <span>Thuế (10%)</span>
                                    <span>2.338.000VNĐ</span>
                                </div>
                                <div class="main__inner--info-orderTop---item flex flex-between g60">
                                    <span>Giảm giá</span>
                                    <span>0VNĐ</span>
                                </div>
                                <div class="main__inner--info-orderTop---item flex flex-between g60">
                                    <span class="all_price">Tổng giá</span>
                                    <span class="all_price">2.338.000VNĐ</span>
                                </div>
                                <div class="main__inner--info-orderTop---item flex flex-between g60">
                                    <span>Trạng thái</span>
                                    <span class="status-order">Đang chờ</span>
                                </div>
                            </div>
                        </div>
                        <div class="main__inner--info-orderBottom flex v-center label-large">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M15 8.25H5.8725L10.065 4.0575L9 3L3 9L9 15L10.0575 13.9425L5.8725 9.75H15V8.25Z" fill="#6750A4"/>
                                </svg>
                                Trở về lịch sử đơn hàng
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</body>
</html>
<script src="/public/assets/resources/js/main.js"></script>
<script src="/public/assets/resources/js/user.js"></script>