<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEGOUS - HOME PAGE</title>
    <link rel="stylesheet" href="/views/public/assets/resources/sass/css/app.css">
    <link rel="icon" type="image/x-icon" href="/views/public/assets/media/images/favicon/favicon.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Space+Mono&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="container-full">
        <header class="header flex-full flex-center">
            <div class="header__inner flex-full flex-between por v-center">
                <img src="/views/public/assets/media/images/logo.svg" alt="" class="logo">
                <ul class="header__nav flex g60">
                    <li class="header__nav__item"><a href="#" class="header__nav__link">Trang chủ</a></li>
                    <li class="header__nav__item por">
                        <a href="#" class="header__nav__link">Cửa hàng</a>
                        <div class="flex-between header__subnav__wrapper poa box-shadow1 p20 rounded-8">
                            <ul class="header__subnav flex-full flex-column g6">
                                <h4 class="title-medium header__subnav__title ttc">mô hình</h4>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">naruto</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">one piece</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">dragon ball</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">jujutsu kaisen</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">kimetsu no yaiba</a>
                                </li>
                            </ul>
                            <ul class="header__subnav flex-full flex-column g6">
                                <h4 class="title-medium header__subnav__title ttc">mô hình</h4>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">naruto</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">one piece</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">dragon ball</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">jujutsu kaisen</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">kimetsu no yaiba</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__nav__item por">
                        <a href="#" class="header__nav__link">Khác</a>
                        <div class="flex-between header__subnav__wrapper poa box-shadow1 p20 rounded-8 g30">
                            <ul class="header__subnav flex-full flex-column">
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">liên hệ</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">trợ giúp</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">về chúng tôi</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">chính sách bảo mật</a>
                                </li>
                                <li class="header__nav__item header__subnav__item">
                                    <a href="#" class="header__nav__link header__subnav__link ttu">chính sách hoàn tiền</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="header__nav flex g30">
                    <li class="header__nav__item flex-center">
                        <button class="icon-btn rounded-full">
                            <i class="far fa-search"></i>
                        </button>
                    </li>
                    <li class="header__nav__item flex-center"><button class="icon-btn" data-elm-function=""><i class="far fa-shopping-cart"></i></button></li>
                    <li class="header__nav__item flex-center"><a class="btn primary-btn">Đăng ký ngay</a></li>
                </ul>
                <ul class="header__nav header__nav-respon">
                    <li class="header__nav__item header__nav-respon__item">
                        <button class="icon-btn open-respon-btn"><i class="fal fa-bars"></i></button>
                    </li>
                </ul>
                <ul class="header__nav-respon header__nav-respon-full poa">
                    <li class="header__nav-respon-full__item flex-between v-center">
                        <button class="icon-btn"><i class="fal fa-user"></i></button>
                        <button class="icon-btn close-respon-btn"><i class="fal fa-times"></i></button>
                    </li>
                    <li class="header__nav-respon-full__item flex-between">
                        <a href="#" class="header__nav-respon-full__link">Trang chủ</a>
                    </li>
                    <li class="header__nav-respon-full__item flex-between">
                        <a href="#" class="header__nav-respon-full__link">cửa hàng</a>
                    </li>
                    <li class="header__nav-respon-full__item flex-between">
                        <a href="#" class="header__nav-respon-full__link">liên hệ</a>
                    </li>
                    <li class="header__nav-respon-full__item flex-between">
                        <a href="#" class="header__nav-respon-full__link">tài khoản</a>
                    </li>
                </ul>
            </div>
        </header>
    </div>
</body>
</html>
<script src="/views/public/assets/resources/js/main.js"></script>