main {
  .dashboard {
    .containerAdmin {
      width: 95%;
      margin: 0 30px;

      .localDashboard {
        .col-12 {
          .h2_dashboard {
            color: $light-on-container;
          }
          .aHref1 {
            color: $-black;
            text-decoration: unset;
          }
          .aHref2 {
            color: $light-surface-tint;
            text-decoration: unset;
          }
          .calenderColor {
            color: $light-surface-tint;
            font-size: 14px;
          }
          .dateCalender {
            color: $light-surface-tint;
          }
        }
      }

      .owl-carousel {
        .slider_contain {
          background-color: #fff !important;
          border-radius: 5px;
          .date-dashboard {
            color: $light-secondary;
          }
          .slider_items {
            .label .fa-ellipsis-v {
              font-size: 24px;
            }

            .label-large {
              color: $light-on-container;
            }

            span {
              color: #1d192b;
              font-size: 1.25rem;
              font-weight: bold;
            }

            h5 {
              color: #1d192b;
              font-size: 1.25rem;
              font-weight: bold;
            }

            .buttonWallet {
              border: transparent;
              background-color: $-green;
              width: 45px;
              height: 45px;
              border-radius: 5px;
              .fa-wallet {
                font-size: 20px;
              }
            }

            .slider_items_stonks {
              p {
                color: $-green;
              }

              i {
                margin-right: 5px;
                color: $-green;
                font-size: 18px;
              }
            }

            .dashboard-moneyEarn {
              margin-left: 10px;
              color: $light-on-container;
            }
          }
        }

        .slider_contain-2 {
          .slider_items_stonks {
            p {
              color: #00b3ff !important;
            }

            i {
              color: #00b3ff !important;
            }
          }

          .slider_items {
            .buttonWallet {
              background-color: #00b3ff !important;
            }
          }
        }

        .slider_contain-3 {
          .slider_items_stonks {
            p {
              color: $light-primary !important;
            }

            i {
              color: $light-primary !important;
            }
          }

          .slider_items {
            .buttonWallet {
              background-color: $light-primary !important;
            }
          }
        }

        .slider_contain-4 {
          .slider_items_stonks {
            p {
              color: $-pink-2 !important;
            }

            i {
              color: $-pink-2 !important;
            }
          }

          .slider_items {
            .buttonWallet {
              background-color: $-pink-2 !important;
            }
          }
        }
      }

      .statisticalChart {

        .statisticalChartItems {

          .col-12 {

            .col-7 {
              background-color: #fff;
              margin-right: 20px;
              border-radius: 10px;
            }

            .col-5 {
              background-color: #fff;
              border-radius: 10px;

              .headerTopUser {
                p {
                  color: $light-on-container;
                }
                button{
                  width: 40px;
                  height: 40px;
                  background-color: rgba(73, 69, 79, 12%);
                  border-radius: 9999px;

                  i {
                    font-size: 16px;
                  }
                }
              }

              .bodyTopUser {
                .topUserOder {
                  .topUserOder_items {
                    margin: 20px 0;
                    .topUserOrder__image {
                      img {
                        width: 45px;
                        height: 45px;
                        border-radius: 9999px;
                        margin-right: 15px;
                      }
                    }
                    .topUserOrder__info {
                      .topUserOrder__name {
                        color: $light-on-container;
                      }
                      .topUserOrder__role {
                        color: $light-secondary;
                      }
                    }
                    .topUserOrder_Spend {
                      .topUserOrder_totalPayed {
                        color: $light-on-container;
                      }
                      .topUserOrder_totalOrdered {
                        color: $light-secondary;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
