// body admin_order-detail
@mixin border_solid_b {
    border: 1px solid black;
}

.containerAdmin_order-detail {
    font-size: 1.3rem;
    background-color: white;

    a {
        text-decoration: none;
        color: $light-primary;
    }

    .admin-black {
        color: black;
    }

    .container_order-detail {
        section {
            font-size: 1.5rem;
        }

        button {
            font-size: 1.5rem;
            padding: 10px 24px !important;
        }

        textarea {
            resize: none;
            width: 100%;
            border-radius: 8px;
            border: 1px gray solid;
            padding: 10px;
            color: black;
            height: 140px;
        }

    }

    .container {
        .row {
            .col {
                padding: 0px;
                p{
                    display: none;
                }
            }
        }
    }
}

.sliderDashboard_order-detail {
    width: 100%;
    min-height: 200px;
    margin-top: 3rem;
    @include border_solid_b();
}

.in4_order-detail {
    .col-4 {
        min-height: 160px;
        width: 280px;
        // @include border_solid_b();
    }


}

.icon_order-detail {
    i {
        font-size: 2rem;
    }
}

.content_order-detail {
    h3 {
        margin: 8px;
    }

    p {
        margin: 8px;
    }

    a {
        margin: 8px;
        position: relative;
        top: 20px;
    }
}

.total_order-detail {
    position: relative;
    top: 20px;
    font-size: 1.3rem;
}

.table_order-detail {
    text-align: center;

    tr {
        border-top: 1px solid rgba(128, 128, 128, 0.203);

        td,
        th {
            padding: 10px 12px;
            color: gray;

        }
    }
}

/* Mobile: with < 740px */
@media only screen and (max-width: 46.1875em) {
    .containerAdmin_order-detail {
        .sliderDashboard_order-detail{
            .container_order-detail{
                .Order_ID{
                    text-align: center;
                }
                .container{
                    .row{
                        text-align: center;
                        .col{
                            p{
                                display: block;
                            }

                        }
                        .col-lg-2{
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }
                .text-success{
                    display: none;
                }
                .in4_order-detail{
                    justify-content:center !important;
                    .col-4{
                        margin: 20px;
                    }
                }
                .table_order-detail{
                    table{
                        thead{
                            tr{
                                .label-large-prominent{
                                    width: 220px !important;
                                }
                            }
                        }
                    }
                }
                
            }
        }
        .total_order-detail{
            .col-9{
                display: none !important;
            }
            .col-3{
                width: 100% !important;
            }
        }
        .align-items-start{
            margin-top: 20px;
            align-items: center !important;
        }

    }
}
/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .containerAdmin_order-detail {
        .sliderDashboard_order-detail{
            .container_order-detail{
                .Order_ID{
                    text-align: center;
                }
                .container{
                    .row{
                        text-align: center;
                        .col{
                            p{
                                display: block;
                            }

                        }
                        .col-lg-2{
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }
                .text-success{
                    display: none;
                }
                .in4_order-detail{
                    justify-content:center !important;
                    .col-4{
                        margin: 20px;
                    }
                }
                .table_order-detail{
                    table{
                        thead{
                            tr{
                                .label-large-prominent{
                                    width: 220px !important;
                                }
                            }
                        }
                    }
                }
                
            }
        }
        .total_order-detail{
            .col-9{
                display: none !important;
            }
            .col-3{
                width: 100% !important;
            }
        }
        .align-items-start{
            margin-top: 20px;
            align-items: center !important;
        }

    }
}