section{
  .containerAdmin{
    .box-banner{
      .container-banner_admin{
        .banner_admin_right{
          
          .content_banner_right{
            .img_banner_admin{
                width: 307px;
                height: 344px;
              &img{
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
              }
            }
          }
          .banner_admin{
            background: linear-gradient(107deg, #B3261E 0%, rgba(239, 49, 38, 0.60) 82.62%);
            .content_banner_left{
              width: 50%;
              .text_right_banner{

                .text_bottom{
                  color: $-white;
                }
                .text_main_banner{
                  max-width: 290px;
                  span{
                    color: $-white;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    letter-spacing: 0.5px;
                  }
                }
                .content_btn_banner_admin{
                  .btn-banner_left{
                    button{
                      padding: 10px 24px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border-radius: 100px;
                      background: $light-primary;
                      cursor: pointer;
                      color: $-white;
                    }
                  }
                  .btn-banner_right{
                    button{
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      gap: 16px;
                      padding: 10px 24px;
                      border-radius: 100px;

                      background-color: $-white;
                      i,span{
                        color: $light-primary;
                        text-align: center;
                      }
                    }
                  }
                }
              }
            }
          }
          .options_banner_admin{
            .container-options_banner{
              .options_banner{
                width: 200px;
                height: 125px;
                cursor: pointer;
                &img{
                  max-width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
          }
        }
      }
    }
  }
}