.container_cart-checkout {

    form>div {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    input {
        margin-top: 12px;
    }

    flex-direction: column;

    h1 {
        font-weight: 900;
        font-size: x-large;
    }

    hr {
        margin: 10px 0;
        width: 50px !important;
        border-radius: 20px;
        background-color: black;
    }

    p {
        font-size: small;
    }

    .content_cart-checkout {
        justify-content: space-around   ;
        margin-top: 30px;
        gap: 20px;

        .cart_check-out-left {
            width: calc(50% - 10px) !important;

            .cart_check-out-left-up{
                min-height: 100px;

                input {
                    height: 4.6rem;
                    border-radius: 0.4rem;
                    padding: 0 2rem;
                    border: 1px solid black;
                    transition: all 0.3s ease;
                    color: black;
                }
            }

            .cart_check-out-left-down {
                // min-height: 100px;
                margin-top: 20px;
                input {
                    height: 4.6rem;
                    border-radius: 0.4rem;
                    padding: 0 2rem;
                    border: 1px solid black;
                    transition: all 0.3s ease;
                    color: black;
                }
                .bth_location-other {
                    .diachi {
                        display: flex;
                        align-items: center;
                    }
                }

            }
        }

        .cart_check-out-right {
            width: calc(50% - 10px) !important;
            font-weight: 700;
            max-height: 670px;

            .cart_check-out-right-up {
                .bth_location-other {
                    margin: 14px 0;

                    // input {
                    //     height: 18px;
                    //     width: 18px;
                    //     border: 2px solid black;
                    // }

                    input[type=checkbox] {
                        // -webkit-appearance: none;
                        /* Vô hiệu hóa kiểu mặc định của checkbox */
                        // appearance: none;
                        height: 18px;
                        width: 18px;
                        border: 2px solid black;
                        border-radius: 2px;
                        margin-right: 20px;
                    }
                }

                .between_location_order {
                    // min-height: 30px;
                    justify-content: space-around;

                    div {
                        margin: 3px 0;
                    }
                }
            }
        }

        .cart_check-out-right-down {
            .bth_location-other {
                margin: 14px 0;
                // input {
                //     height: 18px;
                //     width: 18px;
                //     border: 2px solid black;
                // }
            .flex{
                align-items: center;
            }
                input[type=checkbox] {
                    // -webkit-appearance: none;
                    /* Vô hiệu hóa kiểu mặc định của checkbox */
                    // appearance: none;
                    height: 18px;
                    width: 18px;
                    border: 2px solid black;
                    border-radius: 2px;
                    margin-right:20px;
                    margin-top: 0px;
                }
            }
        }
    }

}