.primary-masking-text {
  background: var(--masking-text, linear-gradient(139deg, #FF79EA -57.97%, #A93CFF 63.91%, #6791FF 167.04%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.summary__main {
  .summary__product {
    &__name {
      width: 30rem;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }
}
.cart__bottom-bar {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  &__inner {
    background: $-white;
  }
}




  
  
  // || Responsive 
/* Mobile: with < 740px */
@media only screen and (max-width: 46.1875em){

}


/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){

}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
  
}




/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em){
  
}

/* PC: width >= 1024px */
@media only screen and (min-width: 64em){

}



