.text-small-primary-masking {
  background: linear-gradient(88deg, rgba(66, 0, 255, 0.60) 24.54%, #6A00F2 66.17%, rgba(255, 40, 169, 0.40) 117.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'mainFont';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: clamp(3.6rem, 0.457rem + 8.381vw, 8rem);
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.info {
  align-items: flex-end;

}



.text-large {
  color: $-black;
  font-size: 54px;
  font-weight: 900;
  line-height: 86px;
  /* 126.471% */
  letter-spacing: -1.25px;
}

.cart {
  width: 100%;
  justify-content: space-around;
  gap: auto;

  .info-cart-start {

    .img-cart {
      width: 150px;
      height: 130px;

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .text-cart {
    max-width: 250px;
    h1{
      word-break: break-all;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }

  .quality {
    display: flex;
    gap: 23px;

    input {
      border: 1px solid $light-on-surface-variant;
    }

    #amount {
      width: 40px;
      text-align: center;
      color: $-source-seed;
      border-radius: 8px;
      outline: none;
    }

    button {
      width: 25px;
      height: 25px;
      outline: none;
      background: none;
      border-radius: 8px;

      &:hover {
        background-color: #ececec;
      }
    }

  }

  .priceProduct {
    span {
      font-size: 16px;
      font-weight: 500;
      line-height: 32px;
    }
  }

  .btn-close {
    margin-right: 20px;
  }

}

.heart {
  text-align: center;
  font-size: 20pt;
  font-family: 'arial';
  transition: 0.22s cubic-bezier(0.23, 1, 0.32, 1);

}

// .far {}

// .fas {
//   color: red;
// }

.heart {
  cursor: pointer;
}

.pulse {
  animation: pulse .5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
.toltal-money{
  background: linear-gradient(88deg, rgba(66, 0, 255, 0.60) 24.54%, #6A00F2 66.17%, rgba(255, 40, 169, 0.40) 117.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}