.container-full {
  // background-color: black !important;
  main {
    .lineMiniConfirm {
      width: 90px;
      height: 4px;
      border-radius: 10px;
      background-color: $light-secondary;
      color: $light-secondary;
    }
    .confirmHeadingText {
      .col-12 {
        .confirmHeadingText_left {
          .title-medium {
            color: $light-on-container;
          }
          .display-medium {
            color: $light-primary;
          }
        }

//         .confirmHeadingText_right {
//           p {
//             color: $light-on-container;
//           }
//         }
//       }
//     }

//     .detailOrders {
//       .detailerOrders_top {
//         h2 {
//           color: $light-on-container;
//         }
//       }
//       .detailerOrders_bottom {
//         .detailOrders-left {
//           .detailOrder_items {
//             h3,
//             h2,
//             h4 {
//               color: $light-on-container;
//             }
//           }
//         }
//         .detailOrders-right {
//           h2 {
//             color: $light-on-container;
//           }
//           .listProductCart {
//             .listProductCart_item {
//               margin: 15px 0;
//               img {
//                 width: 130px;
//                 border-radius: 10px;
//               }
//             }
//           }
//           .totalInfoCartConfirm {
//             p {
//               color: $light-on-container;
//             }
//             .lineAmmoutConfirm{
//                 width: 100%;
//                 height: 1px;
//                 background-color: $light-outline-variant;
//             }
//             .label-medium {
//               color: $light-on-container;
//             }
//             .totalAmount {
//               background: -webkit-linear-gradient(60deg,#ff79ea, #A93CFF,#6791FF);
//               -webkit-background-clip: text;
//               -webkit-text-fill-color: transparent;
//             }
//             .buttonNextOrders {
//               .nextOrders{
//                 background-color: $-black;
//                 color: $-white;
//                 padding: 15px;
//                 border-radius: 10px;
//               }
//             }
//           }
//         }
      }
    }
  }
}

// || Responsive 
/* Mobile: with < 740px */
@media only screen and (max-width: 46.1875em){
    .confirmHeadingText  {
      .d-md-block{
        display: block !important;
      }
        
    }
    .detailOrders {
      .d-md-block {
        display: block !important;
      }
      .d-sm-block {
        display: block !important;
      }
    }
}
/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    
}
/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em){
    
}
/* PC: width >= 1024px */
@media only screen and (min-width: 64em){

}