// hero banner
$banner-padding-block: 10rem;
.hero-banner__wrapper {
    .hero-banner__item {
        min-height: 70rem;
        display: flex !important;
        gap: 30px;
        padding-inline: $site-padding-inline;
        padding-block: $banner-padding-block;
        .left {
            width: 50%;
            .hightlight-text {
                color: var(--m-3-sys-light-on-primary-fixed, #21005D);
                font-size: clamp(2.8rem, -0.057rem + 7.619vw, 6.8rem);
                font-weight: 400;
                line-height: clamp(4.2rem, 1.343rem + 7.619vw, 8.2rem);
                letter-spacing: 0.05rem;
            }
            .avt-group {
                $offset: -1rem;
                img:nth-child(2) {
                    transform: translateX($offset);
                }
                img:nth-child(3) {
                    transform: translateX(calc($offset * 2));
                }
            }
        }
        .right {
            flex-grow: 1;
        }
    }
}

// most love products section 
.product-amount {
    color: var(--m-3-sys-light-on-secondary-container, #1D192B);
    font-family: 'mainFont', sans-serif;
    font-size: 8.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6.4rem;
    letter-spacing: -0.025rem;
}
.carousel-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
} 

// benefit section 
.benefit__wrapper {
    .icon-box {
        max-width: 30rem;
        &__icon {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 0.4rem;
                border-radius: 4px;
                bottom: 0;  
                background: rgba($color: #000000, $alpha: .2)
            }
        }
    }
}

// product section 
.product__section {
    .tab__container {
        .tab__item {
            display: flex;
            width: 18rem;
            height: 4.8rem;
            overflow: hidden;
            background: $light-surface;
            justify-content: center;
            padding: 0rem 1.6rem;
            align-items: center;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
                .tab__item__label {
                    &::after {
                        transform: translateY(0);
                        background: $primary80;
                    }
                }
            }
            &__label {
                color: $light-primary;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 4rem;
                letter-spacing: 0.01rem;
                position: relative;
                &::after {
                    position: relative;
                    content: '';
                    display: block;
                    height: .4rem;
                    width: 100%;
                    bottom: 0;
                    border-radius: .8rem .8rem 0 0;
                    transform: translateY(.8rem);
                    transition: $trans-bounce;
                    // background: $light-primary;
                }
            }
        }
        .tab__item.active {
            .tab__item__label {
                &::after {
                    transform: translateY(0);
                    background: $light-primary !important;
                }
            }
        }
        .panel__item:is(:not(.panel__item.active)) {
            display: none;
        }
        .panel__item.active {
            .collection__item {
                @include animation(slide-in, 0.3s, ease-in-out, 0s, 1, normal, forwards);
            }
        }
    }
}

// category soon section 
.parent-category__wrapper {
    .parent-category__name {
        position: relative;
        ::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 3.25rem;
            height: .4rem;
            background: $light-outline;
        }
    }
}


@keyframes slide-in {
    0% {
        transform: translateY(10rem);
        opacity: 0;
    }
    
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

// slick edit 
.slick-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        ::before {
            content: ''; 
            width: .6rem;
            aspect-ratio: 1;
            background: $neutral30;
        }
    }
    li.slick-active {
        ::before {
            background: $light-primary;
        }
    }
}


// || Responsive 
/* Mobile: with < 740px */
@media only screen and (max-width: 46.1875em){
    .hero-banner__item {
        flex-direction: column-reverse !important;
    }
    .left {
        width: 100% !important;
    }
    .right {
        width: 100%;
        height: 20rem;
    }
    .product__wrapper--normal {
        grid-template-columns: repeat(2 , 1fr) !important;
    }
}
/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    
}
/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em){
    
}
/* PC: width >= 1024px */
@media only screen and (min-width: 64em){

}