// hero banner
$banner-padding-block: clamp(2rem, -3.714rem + 15.238vw, 10rem);
.hero-banner__wrapper {
    .hero-banner__item {
        min-height: 70rem;
        display: grid !important;
        gap: 3rem;
        padding-inline: $site-padding-inline;
        padding-block: $banner-padding-block;
        .left {
            gap: clamp(1.2rem, -0.086rem + 3.429vw, 3rem);
            .hightlight-text {
                color: var(--m-3-sys-light-on-primary-fixed, #21005D);
                font-size: clamp(1.6rem, -2.114rem + 9.905vw, 6.8rem);
                font-weight: 400;
                line-height: clamp(3.4rem, -0.029rem + 9.143vw, 8.2rem);
                letter-spacing: 0.05rem;
            }
            .avt-group {
                $offset: -1rem;
                img:nth-child(2) {
                    transform: translateX($offset);
                }
                img:nth-child(3) {
                    transform: translateX(calc($offset * 2));
                }
            }
        }
        .right {
            width: 100%;
            height: 100%;
        }
    }
}

// sale banner
.sale-banner__wrapper {
    background: $-black;
    .sale-banner__item {
        background: $-black;
        display: flex !important;
        justify-content: center;
        align-items: center;
        color: $-white;
        padding-block: 1.6rem;
        gap: 3rem;
    }
}

// most love products section 
.product-amount {
    color: var(--m-3-sys-light-on-secondary-container, #1D192B);
}
.carousel-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} 
.prev-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 100;
}
.next-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 100;
}

// benefit section 
.benefit__wrapper {
    .icon-box {
        max-width: 30rem;
        &__icon {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 0.4rem;
                border-radius: 4px;
                bottom: 0;  
                background: rgba($color: #000000, $alpha: .2)
            }
        }
    }
}

// product section 
.product__section {
    .tab__container {
        .tab__item {
            display: flex;
            width: 18rem;
            height: 4.8rem;
            overflow: hidden;
            background: $light-surface;
            justify-content: center;
            padding: 0rem 1.6rem;
            align-items: center;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
                .tab__item__label {
                    &::after {
                        transform: translateY(0);
                        background: $primary80;
                    }
                }
            }
            &__label {
                color: $light-primary;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 4rem;
                letter-spacing: 0.01rem;
                position: relative;
                &::after {
                    position: relative;
                    content: '';
                    display: block;
                    height: .4rem;
                    width: 100%;
                    bottom: 0;
                    border-radius: .8rem .8rem 0 0;
                    transform: translateY(.8rem);
                    transition: $trans-bounce;
                    // background: $light-primary;
                }
            }
        }
        .tab__item.active {
            .tab__item__label {
                &::after {
                    transform: translateY(0);
                    background: $light-primary !important;
                }
            }
        }
        .panel__item {
            margin-top: 30px;
        }
        .panel__item:is(:not(.panel__item.active)) {
            display: none;
        }
        .panel__item.active {
            .collection__item {
                @include animation(slide-in, 0.3s, ease-in-out, 0s, 1, normal, forwards);
            }
        }
    }
}

// partner 
.partner__item {
    padding-inline: 2rem;
}

// category soon section 
.parent-category__wrapper {
    .parent-category__name {
        position: relative;
        ::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 3.25rem;
            height: .4rem;
            background: $light-outline;
        }
    }
}


@keyframes slide-in {
    0% {
        transform: translateY(10rem);
        opacity: 0;
    }
    
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

// slick edit 
.slick-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        ::before {
            content: ''; 
            width: .6rem;
            aspect-ratio: 1;
            background: $neutral30;
        }
    }
    li.slick-active {
        ::before {
            background: $light-primary;
        }
    }
}


// || Responsive 
/* Mobile: with < 740px */
@media only screen and (max-width: 46.1875em){
    .hero-banner__item {
        // height: 19rem !important;
        min-height: unset !important;
        border-radius: .8rem;
        margin: 1rem;
    }
    
    .subtext,
    .button-set,
    .avt-wrapper {
        display: none !important;
    }
    // .product__wrapper--normal {
    //     grid-template-columns: repeat(2 , 1fr) !important;
    // }
}
/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .hero-banner__item {
        flex-direction: column-reverse !important;
        .right {
            height: 100% !important;
            width: 100% !important;
        }
    }
}
/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em){
    .header,
    .hero-banner__item {
        padding-inline: clamp(1rem, -0.429rem + 3.81vw, 3rem) !important;
    }
}
/* PC: width >= 1024px */
@media only screen and (min-width: 64em){

}