.single-product__main {
  .product__gallery {
    /* Style for each thumbnail item */
    .gallery__thumbnails__item {
      flex-basis: 16rem;
      width: 16rem;
      margin: 1rem;
      /* Adjust the spacing between thumbnails */
    }
    .gallery__thumbnails__item.slick-active {
      // border: .2rem solid $light-primary;
    }

    /* Style for the selected (active) thumbnail */
    .gallery__thumbnails__item.slick-current img {
      border-color: $light-primary;
      /* Change border color for the selected thumbnail */
    }
  }
}

.product-info__section {
  .panels {
    .panel__item {
      padding-block: clamp(1.6rem, 0.6rem + 2.667vw, 3rem);
      padding-inline: clamp(1rem, -9.357rem + 27.619vw, 15.5rem);
    }
  }
}

.comment__panel {
  .comment__form {
    width: 100%;
    .comment__input {
      width: 100%;
      padding: 2rem 1.2rem;
      border: 0.1rem solid transparent;
      border-bottom-color: $neutral80;
      transition: $trans-normal;
      &:focus {
        border-bottom-color: $light-primary;
      }
    }
  }
  .comment__wrapper {
    .comment__item {
        .user__avt {
            img {
                border-radius: 30px;
            }
        }
      .comment_media {
        display: flex;
        margin-top: 15px;
        .comment_media_item {
            margin: 0 10px;
            video,
          img {
            width: 100px;
            height: 100px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.bill-info__panel {
  .bill-info__box {
    background: $-white;
    .default-label {
      color: $light-primary;
      font-weight: 600;
    }
  }
}

.single-product__bottom-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  .bottom-bar__inner {
    background: $-white;
  }
}
.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}
#file-1 {
  display: none;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

/* style 1 */

.inputfile-1 + label {
  color: #f1e5e6;
  background-color: #6750a4;
  margin-top: 20px;
  border-radius: 10px;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: rgba(247, 242, 250, 0.507);
}
// || Responsive
/* Mobile: with < 740px */
@media only screen and (max-width: 46.1875em) {
  .product__info {
    .product__name {
      font-weight: 500 !important;
      font-size: 1.6rem !important;
    }
  }

  .single-product__main {
    display: flex !important;
    flex-direction: column-reverse;
  }

  .product__gallery {
    .gallery__spotlight {
      display: flex;
      justify-content: center;
      border-radius: 0.4rem;
      overflow: hidden;
      img {
        width: 60%;
      }
    }
    .gallery__thumbnails {
      display: flex;
      justify-content: center;
      .gallery__thumbnails__item {
        border-radius: 0.4rem;
        width: 4rem;
        height: 6rem;
        overflow: hidden;
      }
    }
  }
}
/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}
/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em) {
}
/* PC: width >= 1024px */
@media only screen and (min-width: 64em) {
}
